[2013-04-23 19:05] carousel opened #1 "cursor blink color"
Hi;

Thanks for this great theme. I am using it on Ubuntu - Chrome dev. channel version 28.0.1485.0. One thing that I would like to change but I don't know how is that the color of blinking cursor under sources panel ( I use snippets a lot ) is not so visible. What  is the name of css class for cursor color ?

Thanks

[2013-04-23 21:15] #1 closed, assigned to mauricecruz

[2013-04-26 13:02] angryobject opened #3 "Add close button"
Thanks for the theme, love it! But where is the close button? I know, you can use shortcuts to open/close the DevTools, but sometimes it's more convenient to click the button with the mouse.

[2013-04-26 18:01] wpowers opened #4 "Source tab - tight line-height"
Beautiful work - thanks! One thing I noticed was that the line-height seemed visually really tight to me in the source tab. Makes it harder to read and on my machine macbook pro retinna ML I am seeing ascenders and descenders overlap in some instances.
![image](https://f.cloud.github.com/assets/300355/432064/4abc48a0-ae9b-11e2-9b3e-14f8f80d1ce3.png)
![image](https://f.cloud.github.com/assets/30035

[2013-04-28 23:46] #3 closed, assigned to mauricecruz

[2013-04-30 03:11] #4 closed, assigned to mauricecruz

[2013-04-30 13:12] ivandotv opened #5 "Vertical view missing panels"
Currently, if the dev panel is in "vertical" view (snapped to left or right of the window) when the panel is not wide enough some panel tabs are missing ( console etc...).
There should be a drop down button that indicates that there are more panels available.

Win 8. google chrome stable (26....)

[2013-05-01 19:44] ivandotv opened #6 "Missing arrows in elements and resources tabs"
Currently there is no way to know if html elements contain other elements, there should be arrow indicating that element contains other elements.
Right now I need to click on element to see if there is any children.

Same applies for resources tab, (images, stylesheets, scripts etc...)

[2013-05-01 22:11] #6 closed, assigned to mauricecruz

[2013-05-23 01:53] zendy opened #7 "Devtool hangs while showing an image"
When we are on `elements` tab, and then hover over an image tag, it'll show the image in a small popup box. After that the whole `devtools` hangs, need to close and re-open `devtools` to make it work normally.
![screen shot 2013-05-23 at 11 52 41 am](https://f.cloud.github.com/assets/1697743/552307/8954ceb0-c34b-11e2-8a30-d47552c6c631.png)

[2013-05-23 04:35] #7 closed, assigned to mauricecruz

[2013-05-29 05:52] carousel opened #8 "snippet and code highlight line is too bright (in codemirror editor)"
So, two  more issues ( for now ):
-   under sources panel, when you activate debugger, highlighted line has very bright color ( light blue ( #abbffe I think ) so the code under is almost invisible
- when you want to create a new snippet, also in sources panel, you can't see the text while typing ( just a white space moving )

[2013-05-30 16:18] atomless opened #9 "all tab buttons unresponsive"
using chrome 27.0.1453.93 when dev tools first opens I can click on one of the tabs and it works but once the bounce in animation plays no tabs work at all, it's stuck on that tab completely unresponsive. Seems like an issue with the animation. I'd lose the anim personally. The theme is perfect without the gimmicky anims.

[2013-06-17 15:32] #8 closed, assigned to mauricecruz

[2013-06-22 22:04] #5 closed, assigned to nobody

[2013-06-22 22:07] #9 closed, assigned to nobody

[2013-06-29 21:53] mauricecruz opened #13 "source-code breakpoint hit unstyled"
![image](https://f.cloud.github.com/assets/1640686/726531/4bce1de8-e106-11e2-9a7e-354fa0a40fb9.png)

[2013-06-30 05:41] mauricecruz opened #14 "text being edited in local storage can't be seen"
![image](https://f.cloud.github.com/assets/1640686/726923/a850622e-e147-11e2-85ae-b0580dbb23da.png)

[2013-06-30 18:19] #14 closed, assigned to nobody

[2013-07-05 00:18] magnetikonline opened #16 "Multiple arrow GFX on background at console area content/frame switcher."
Small graphical bug, not causing any loss of function of the UI.

**Operating system:** Ubuntu 12.04LTS
**Browser:** Chrome Stable 28.0.1500.71

Screenshot:

http://i.imgur.com/q0mEj0v.png

[2013-07-09 22:37] #16 closed, assigned to nobody

[2013-07-11 17:16] gonglei opened #17 "Network - Preview page is not styled correctly"
Open Network pane, choose one row with page content, switch to Preview, the page is styled with light background instead of dark background like other pages.

[2013-07-11 18:04] jonmann20 opened #18 "Console error stack trace"
dropdown in console text is too dark to read

I fixed this with
# -webkit-web-inspector li > div > span.console-message-text.source-code {

[code]

}

[2013-07-12 18:27] mauricecruz opened #19 "breakpoint selected element unstyled and object inside overlay unstyled"
![image](https://f.cloud.github.com/assets/1640686/790136/a735119a-eb20-11e2-9d2e-f7b22f3d1df5.png)

[2013-07-12 18:28] mauricecruz opened #20 "remove dashes from event listener trees"
![image](https://f.cloud.github.com/assets/1640686/790144/c7aeb91c-eb20-11e2-8b82-298b4c1e7cc8.png)

[2013-07-12 20:28] mauricecruz opened #21 "[Canary] restyle find module parent categories"
![image](https://f.cloud.github.com/assets/1640686/790864/aa0949e8-eb31-11e2-9ee5-d0733688ba7c.png)

[2013-07-12 22:15] mauricecruz opened #22 "[canary] style codemirror html"
![image](https://f.cloud.github.com/assets/1640686/791318/8bf157fc-eb40-11e2-8c6b-a00dd2fcb03f.png)

[2013-07-12 22:32] #17 closed, assigned to mauricecruz

[2013-07-12 22:32] #18 closed, assigned to nobody

[2013-07-12 22:33] #20 closed, assigned to nobody

[2013-07-12 22:35] #19 closed, assigned to mauricecruz

[2013-07-12 22:36] #21 closed, assigned to nobody

[2013-07-16 23:02] gonglei opened #23 "Resources - WebSQL pane text is not visible"
Select a database under Resources / WebSQL, type SQL statements on right pane, text and background have same colours, statement is not visible, I have to blind select text to make it visible. I did not test IndexedDB yet.

[2013-07-17 08:31] eukway opened #24 "resources and sources con't select code to copy"
in resources and sources panels ,very hard to copy what you select..........
only me with this problem?
ps.chrome 28.0.1500.71

[2013-07-17 16:30] #23 closed, assigned to nobody

[2013-07-19 00:04] #22 closed, assigned to nobody

[2013-07-19 01:57] #24 closed, assigned to nobody

[2013-07-21 11:15] maciejjankowski opened #28 "fix colors for network monitor"
![image](https://f.cloud.github.com/assets/2905995/831573/c5ad7842-f1f6-11e2-9c38-35d44d95d359.png)

I found that text is all black in network monitor.
1. Unfolded object json text.
2. unfolded object json puncutation ":" are all black

I highlighted the text so it's visible (white) - normally it would be black on black :-)
Latest stable chrome: 28.0.1500.72 m

[2013-07-22 20:12] #28 closed, assigned to nobody

[2013-07-29 09:57] orloxx opened #29 "A suggestion for readability"
In my desktop version I added this line of code at the beginning of the file because for readability purposes I like the line-height to be more separated:

[code]

Sorry if there's another way of doing this that I don't know about.

[2013-08-01 14:40] mauricecruz opened #30 "[canary] find highlight needs to be restyled"
![image](https://f.cloud.github.com/assets/1640686/894293/4310a9de-fab8-11e2-91d4-0958d82cb80a.png)

[2013-08-01 15:10] mauricecruz opened #31 "[canary] line numbers need restyling"
![image](https://f.cloud.github.com/assets/1640686/894623/8dabae22-fabc-11e2-95a0-ed36c51c2ce1.png)

[2013-08-02 19:44] mauricecruz opened #32 "nonmatching brackets 'disappear'"
![image](https://f.cloud.github.com/assets/1640686/903493/fc53f948-fbab-11e2-85eb-6ca4b9b977ec.png)

[2013-08-02 19:50] #32 closed, assigned to nobody

[2013-08-02 21:24] #29 closed, assigned to nobody

[2013-08-02 21:51] mauricecruz opened #33 "[canary] Help -> Keyboard shortcuts not visible"
![image](https://f.cloud.github.com/assets/1640686/904196/b281ad9e-fbbd-11e2-9f44-83e939f54ec6.png)

[2013-08-02 22:45] #33 closed, assigned to nobody

[2013-08-02 22:46] #31 closed, assigned to nobody

[2013-08-04 05:22] wulftone opened #34 "Network Headers Request Payload (parsed) style"
There are some unstyled bits in the Network -> Headers -> Request Payload (view parsed) section.

![image](https://f.cloud.github.com/assets/142784/906667/c6716d0e-fcc5-11e2-8d27-199bf7480644.png)

Can be fixed like so:

[code]

Though you may want to do something better.  : )

[2013-08-05 10:25] s10wen opened #35 "Stable Version 28.0.1500.95 - Arrows gone?"
![screen shot 2013-08-05 at 11 24 44](https://f.cloud.github.com/assets/1136114/909266/5706a11a-fdb9-11e2-8a16-88a8d78c8bbf.png)

[2013-08-05 14:36] #35 closed, assigned to nobody

[2013-08-21 17:01] jonmann20 opened #36 "Update for Chrome 29"
Chrome 29 has been released

[2013-08-23 03:46] eukway opened #37 "Arrows gone and Sources code select problem"
![qq20130823112722](https://f.cloud.github.com/assets/4457978/1014072/f311eb20-0ba4-11e3-90ae-1a5a6c3e591a.jpg)
![qq20130823112228](https://f.cloud.github.com/assets/4457978/1014073/f34e155a-0ba4-11e3-8ad1-82c48aba37df.jpg)
![image](https://f.cloud.github.com/assets/4457978/1014087/8b9e1a26-0ba5-11e3-8211-f4d72a3c11c7.png)

those problem found seem like when update to 29.0.1547.57 m

[2013-08-23 19:36] #36 closed, assigned to nobody

[2013-08-23 19:36] #37 closed, assigned to nobody

[2013-08-29 03:21] #30 closed, assigned to nobody

[2013-08-29 03:22] #13 closed, assigned to nobody

[2013-09-04 03:24] mukiwu opened #38 "sources - css is not work for the theme"
Hi , I put custom.css in chrome , but the source tag for css highlight is not working, here is my screenshot:
http://i.imgur.com/WLH1tp9.png

Do I miss any step ??

[2013-09-04 14:48] #38 closed, assigned to nobody

[2013-09-25 06:16] praveenpuglia opened #39 "Chrome not loading Custom.css changes (Windows XP)"
I added the css from Custom-stable.css into the specified file and saved it. I then re-started chrome but the dev tools is still loading the default styles.

I am on windows XP.

[2013-10-05 18:49] ghost opened #40 "Inspecting SVG elements with G tags"
When I am trying to inspect a nested g element inside an SVG, I cannot see anything and I see a blank section.

[2013-10-06 10:22] aarontgrogg opened #41 "Chrome not loading Custom.css changes (Mac 10.8.5)"
similar issue as:
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/39
but i'm on a MacBook Pro (10.8.5), Chrome 30.0.1599.69 (had the same problem with previous versions as well), and running a single profile.

i just pulled the latest Custom-Stable.css and pasted into:
/Library/Application Support/Google/Chrome/Default/User StyleSheets/custom.css

i use this at work on a

[2013-10-06 15:17] #41 closed, assigned to nobody

[2013-10-13 07:17] NeroMorto opened #42 "Issue with a boolean values"
Hi I have a some problems with a highlighting boolean values within ajax response.
![issuewithselection](https://f.cloud.github.com/assets/1481943/1321571/81c7cea8-33d6-11e3-8c5d-b75f70a20de6.png)
![issuewithoutselection](https://f.cloud.github.com/assets/1481943/1321572/81cf1280-33d6-11e3-9c66-b107f7023503.png)
OS: Win7 Pro
Browser: 30.0.1599.69 m

Detected on last Custom-Stable.css

[2013-10-14 14:35] #42 closed, assigned to nobody

[2013-10-15 21:40] paulirish opened #43 "Improve install instructions"
this is pretty hot:

https://github.com/Augus/Readable-ChromeDevThemes#mac

[2013-10-16 05:30] #43 closed, assigned to nobody

[2013-10-20 12:30] mauricecruz opened #45 "Canary: HTML Footer UI unstyled"
![image](https://f.cloud.github.com/assets/1640686/1368128/7368341c-3983-11e3-87c2-1351b381cb4e.png)

[2013-10-20 12:32] mauricecruz opened #46 "Canary: Sources footer unstyled"
![image](https://f.cloud.github.com/assets/1640686/1368131/adf09692-3983-11e3-9bf0-7f36ddd22559.png)

[2013-10-20 12:33] mauricecruz opened #47 "Canary: Network Header UI all messed up"
![image](https://f.cloud.github.com/assets/1640686/1368133/c7739178-3983-11e3-9e0e-5284c79a40a4.png)

[2013-10-20 12:36] mauricecruz opened #48 "Canary: Selector delimeter unstyled"
defaulted back to solid white
![image](https://f.cloud.github.com/assets/1640686/1368139/4f66008e-3984-11e3-88a8-87a972740543.png)

[2013-10-20 13:11] mauricecruz opened #49 "Canary: New Console options unstyled"
search and overrides ported to console menu

![image](https://f.cloud.github.com/assets/1640686/1368201/224347b0-3989-11e3-8ef9-e469b5d779d8.png)

![image](https://f.cloud.github.com/assets/1640686/1368202/2c243348-3989-11e3-8d04-2a22966ac6cb.png)

[2013-10-20 17:04] mauricecruz opened #50 "Canary: Network Headers unstyled"
![image](https://f.cloud.github.com/assets/1640686/1368529/a7254a12-39a9-11e3-8f65-c0d8b19c15d1.png)

[2013-10-20 19:14] mauricecruz opened #51 "Canary: Find Interface unstyled"
![image](https://f.cloud.github.com/assets/1640686/1368751/c58dc792-39bb-11e3-92ea-0e0baa62d23e.png)

[2013-10-20 21:30] #51 closed, assigned to nobody

[2013-10-20 21:31] #50 closed, assigned to nobody

[2013-10-20 21:32] #49 closed, assigned to nobody

[2013-10-20 21:33] #48 closed, assigned to nobody

[2013-10-20 21:35] #47 closed, assigned to nobody

[2013-10-20 21:38] #46 closed, assigned to nobody

[2013-10-20 21:40] #45 closed, assigned to nobody

[2013-10-22 14:21] jonmann20 opened #52 "Alias for powershell command [suggestion]"
Hello, the one line terminal install's are fantastic.  I tried to set up a powershell alias using Set-Alias, but failed.  It would be nice to have some instruction on how to set this up.  So every time chrome drops you could open powershell and run "zdm".  Thanks!

[2013-10-22 15:05] #52 closed, assigned to nobody

[2013-10-23 14:55] mauricecruz opened #53 "Canary: Console lines be crazy"
![image](https://f.cloud.github.com/assets/1640686/1390787/17a8ac70-3bf3-11e3-94eb-7cfe7679bfb1.png)

[2013-10-23 14:55] mauricecruz opened #54 "Canary: Toolbar style regression"
![image](https://f.cloud.github.com/assets/1640686/1390794/332f0dfe-3bf3-11e3-8f21-046e0958a9bf.png)

[2013-10-23 14:58] mauricecruz opened #55 "Canary: Console overlay bg color regression"
![image](https://f.cloud.github.com/assets/1640686/1390817/85f546d4-3bf3-11e3-8b5d-cfeca2a1dce2.png)

[2013-11-03 20:13] #55 closed, assigned to nobody

[2013-11-03 20:14] #53 closed, assigned to nobody

[2013-11-03 20:14] #54 closed, assigned to nobody

[2013-11-11 18:51] westlywright opened #56 "Chrome Version 33.0.1706.0 canary Mac Not Loading Custom CSS"
Latest version of canary seems to be ignoring your custom styling all together.

[2013-11-14 19:37] #56 closed, assigned to nobody

[2013-11-15 06:28] #40 closed, assigned to nobody

[2013-11-15 06:28] #39 closed, assigned to nobody

[2013-11-15 06:28] #34 closed, assigned to nobody

[2013-11-15 17:22] calebboyd opened #58 "Network Preview"
This should be added somewhere, it fixes the contrasting color in the network->preview tab
# -webkit-web-inspector #network-views .CodeMirror-lines

{
background-color: #282828 !important;
}

[2013-11-15 22:55] #58 closed, assigned to nobody

[2013-11-21 16:57] jamiebuilds opened #59 "Theme affects sites using CodeMirror"
![screen shot 2013-11-21 at 11 56 15 am](https://f.cloud.github.com/assets/952783/1593584/dc53faac-52cd-11e3-9fca-5f4a2294a04a.png)

I think its this:

https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/blob/master/Custom-Stable.css#L942-L949

[2013-11-21 18:50] #59 closed, assigned to nobody

[2013-11-23 16:14] nickdima opened #60 "Coffescript source files unreadable"
The keywords in coffeescript files are displyed on black so they are barely readable.
![screen shot 2013-11-23 at 17 11 23](https://f.cloud.github.com/assets/614468/1606796/36f64112-545a-11e3-8666-543db780ebfa.png)

[2013-11-28 12:40] lukasz-zak opened #61 "Missing style for value console-formatted-number"
For this line you forgot probably add style:
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/blob/master/Custom-Stable.css#L1675

Without it I see dark blue color which is almost not visible on dark background.

I will prepare Pull Request for it. Just deny if it not necessary.

[2013-12-02 20:42] alpadev opened #64 "Repaint in 33.0.1725.0"
As you already mentioned here: https://code.google.com/p/chromium/issues/detail?id=318566
the dev-tools started to flicker with zerodarkmatrix theme applied.

[2013-12-02 21:28] #64 closed, assigned to nobody

[2013-12-03 02:36] westlywright opened #67 "Remove custom.css from main directory and rely on unpacked extension custom.css file"
Would you be okay removing the main Canary custom.css from from the root directory and relying on the custom.css file in the extension folder? I can see not wanting to to this for ease of updating but because this is the only way you can load the theme in Canary it makes sense to move all updates to that folder so the files don't run out of sync.

[2013-12-03 07:42] #67 closed, assigned to nobody

[2013-12-03 07:46] #60 closed, assigned to nobody

[2013-12-03 14:40] mattsaler opened #68 "Canary: Unstyled Regions in Top Bar"
Search button, bar console error & button, settings button, placement selector button and close button unstyled: http://monosnap.com/image/ZK5AZmUN3Vos68gxCKvYA0KQ6

33.0.1727.0 canary
OS X 10.6.8 (yeah, I'm way behind)

[2013-12-03 14:41] mattsaler opened #69 "Canary: Tab labels truncated"
Labels cut short by ellipses:

http://monosnap.com/image/TgKcEX8yqQIjFBKmkfpznLBmM

33.0.1727.0 canary
OS X 10.6.8

[2013-12-03 23:39] simonexmachina opened #70 "Has anyone made a Chrome extension for this theme yet?"
Looks like there's [been some work done](https://github.com/zenorocha/generator-devtools-theme) on making it easier to create the Chrome extension using a Yeoman generator.

[2013-12-04 10:56] #70 closed, assigned to nobody

[2013-12-09 19:01] westlywright opened #71 "Canary: Dev Tools Flicker on Tree Highlight"
When you highlight/select parent html elements in the Elements tab the content flickers on a long delay. Only happens when highlighting or selecting parent elements.

Steps to reproduce:
- Inspect and element on any web page.
- Hover over a parent element in the inspection pane.
- Content should completely disappear then come back a second or two later.

Chrome Canary 33.0.1733.0

[2013-12-10 06:48] #68 closed, assigned to nobody

[2013-12-10 06:50] #69 closed, assigned to nobody

[2013-12-26 18:16] #61 closed, assigned to nobody

[2014-01-01 00:26] mauricecruz opened #74 "Iframe highlight element text"
![image](https://f.cloud.github.com/assets/1640686/1829117/5f96dfde-727b-11e3-8ed3-3830029152a8.png)

[2014-01-08 16:47] gonglei opened #75 "Not working on Version 32.0.1700.72 m"
Found Chrome upgraded to Version 32.0.1700.72 m, and lost dark theme on dev tools.

[2014-01-11 20:33] #75 closed, assigned to nobody

[2014-01-13 12:20] p5hema2 opened #76 "Canaray - Device Selection in Emulation Dropdown not possible."
By tapping on the dropdownlist the list is closing straith away.

Canary: 34.0.1781.0
theme: 0.0.1
system: windows 8 x64

edit: error is on all dropdown lists

[2014-01-13 15:14] #76 closed, assigned to nobody

[2014-01-15 04:43] shaneholloman opened #77 "After Updating Stable Chrome to Stable Version 32.0.1700.77 OSX"
Do we have a solve to get styles to render again somehow... I've become addicted to this theme and super sad I lost it with the update...

aye : (

[2014-01-15 16:44] mrchief opened #78 "Panels tabs always collapse to dropdown with v32.0.1700.77"
Even if I have sufficient width, I don't see the panels... Rather this dropdown:
![image](https://f.cloud.github.com/assets/781818/1922262/50a47e16-7e04-11e3-8ab6-4068a9fb7288.png)
Running latest from this [gist](https://gist.github.com/mauricecruz/8376304)

[2014-01-15 16:50] #78 closed, assigned to nobody

[2014-01-16 00:32] #77 closed, assigned to nobody

[2014-01-18 01:07] paulirish opened #79 "Put the extension on the Chrome Web Store"
I know its kind of a pain in the ass, but you're gonna want to do that

the extra benefit is that you can update everyone who installs the extension at any time.

[2014-01-23 17:35] nelsera opened #80 "Vertical position, cssbar is not visible"

[2014-01-30 01:42] snize opened #81 "Hard to see characters after the '@' on coffeescript"
![on_coffeescript](https://f.cloud.github.com/assets/185991/2036580/b3411dda-894f-11e3-939f-934d9607f4f5.gif)

[2014-02-11 15:23] #80 closed, assigned to nobody

[2014-02-11 15:52] #81 closed, assigned to nobody

[2014-02-12 23:15] #79 closed, assigned to nobody

[2014-02-14 18:01] #71 closed, assigned to nobody

[2014-02-20 06:51] justinpage opened #82 "No styling whatsoever for Version 33.0.1750.115"
A few have made an issue documenting earlier builds. I ran into an issue when I updated this morning. Custom.css is present with Zero Dark Matrix, but no styling is applied.

[2014-02-20 17:41] #82 closed, assigned to nobody

[2014-03-01 05:13] #74 closed, assigned to nobody

[2014-03-19 09:36] p5hema2 opened #83 "chrome://inspect"
I have installed your prety theme, but the chrome://instpect devtools still apear in orginal color.

Any clue how to fix this?

p.s. Is you theme also availble for IntelliJ IDEA ?

With Best Regards
Martin

[2014-03-28 10:26] nissoh opened #85 "pulsate keyframe causes janking and low performance"
I've noticed significantly higher performance when this keyframe turned off.

[2014-04-10 12:53] ivandotv opened #86 "Dropdown arrow for additional panels is missing"
There should be an  arrow that when clicked shows additional panels however, it's missing in Chrome 34.
Also I think that the padding between the panel titles is too big. If the devTools panel is in vertical position it has to be stretched considerably in order to show the rest of panel titles.
![screenshot_020](https://cloud.githubusercontent.com/assets/390700/2667480/5d538b92-c0ae-11e3-98ca-3c76

[2014-04-15 08:40] p5hema2 opened #87 "Promblem with color when initialize an array via literal"
The pictures show it better than i can it write down:

![534cedc838d38726e8ac44f0](https://cloud.githubusercontent.com/assets/1798189/2705043/0efaeecc-c478-11e3-8b2e-89e5cad85743.png)

![534cee27007791428ea1895a](https://cloud.githubusercontent.com/assets/1798189/2705055/409295d4-c478-11e3-913f-ecef27a349ad.png)

[2014-04-15 14:46] #87 closed, assigned to nobody

[2014-04-15 15:45] #86 closed, assigned to nobody

[2014-04-15 18:10] #83 closed, assigned to nobody

[2014-04-27 22:02] keano12 opened #88 "Scroll bars don't work in css page"
Love the look of this but when I am viewing the source of the css the tool bar shrinks up and I can't move it at all. Is there a fix for this?
![scrool bar](https://cloud.githubusercontent.com/assets/6029046/2812428/9769d15e-ce57-11e3-8dca-ae1ed4b4fd69.png)

[2014-04-28 09:54] ppolyzos opened #89 ""Tooltips" in Profile tab / Flame Chart not displayed properly"
In Chrome 34 "tooltips" in Flame charts has been changed slightly the way they are rendered, from tooltips to plain text just below the area selector.

Attached you may find 2 screenshots, one with your theme and another one Chrome's Dev tools main theme.

![2014-04-28_12h45_19](https://cloud.githubusercontent.com/assets/417743/2815469/b747946c-ceba-11e3-85c7-6df5fcf7bd4f.png)
![2014-04-28_12h53_4

[2014-04-29 01:42] #89 closed, assigned to nobody

[2014-06-04 11:53] artemgordinskiy opened #90 "Is there a way to use a custom font in the theme?"
I'd love to see the code in Source Code Pro.

[2014-06-04 14:49] #90 closed, assigned to nobody

[2014-06-27 20:49] markbrouch opened #91 "React DevTools Theme"
I would love it if there was support for the React DevTools panel that gets added by the [React plugin](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi).

This is what it looks like currently:
![image](https://cloud.githubusercontent.com/assets/5997332/3417729/84ba457e-fe3c-11e3-91f3-ff41256fb8b1.png)

[2014-06-28 01:39] #91 closed, assigned to nobody

[2014-07-10 08:49] ppolyzos opened #92 "Tooltip in Profiles"
In the picture below you may see that in profiles tab the tooltip does not appear properly.
Either you may remove the background color or make letters black.

![2014-07-10_11h45_31](https://cloud.githubusercontent.com/assets/417743/3536265/1303f146-080f-11e4-8061-66ad3a92f91a.png)

Keep up the good work

[2014-07-11 05:50] #92 closed, assigned to nobody

[2014-07-21 16:38] westlywright opened #93 "Coffeescript Source Files - Weird Highlights"
Seems in the newer version of Chrome Canary (Version 38.0.2100.0 canary (64-bit)) there is an issue with coffee script source files and some weird highlights. There is a new style

[code]

This seems to be causing the white lines in the attached screen shot. Seems like a very easy fix. Don't know how you go about deploying the fix though?

![screen shot 2014-07-21 at 9 31 46 am](https://cloud.gith

[2014-07-29 05:57] #93 closed, assigned to nobody

[2014-08-03 20:40] levani opened #94 "Better PageSpeed support"
I know that pagespeed is an extension and it isn't a part of devtools natively but still it would be great to have a better support, since many people, including me, use it quite often.

Now it looks completely messed up...

![screen shot 2014-08-04 at 12 35 59 am](https://cloud.githubusercontent.com/assets/184472/3791708/51ca7826-1b4e-11e4-98fe-0de71ade1c01.png)

[2014-08-04 06:18] #94 closed, assigned to nobody

[2014-08-04 13:24] wpg4665 opened #95 "DevTools unable to find icon PNGs"
I created a chromium bug report, http://code.google.com/p/chromium/issues/detail?id=399407, assuming this is really more of a problem with Chrome breaking things (since I'm using this in Beta, which I do understand you're not actually supporting), but I wanted to make you aware of this and give you a chance to follow the issue for any updates.

The specific issue looks like Chrome Beta is using a

[2014-08-04 16:18] #95 closed, assigned to nobody

[2014-08-07 13:20] LeonardoGentile opened #96 "Network inspector colors changed after last Canary update"
I'm running on Chrome 38.0.2116.0 canary (64-bit) on Mac Mavericks. As you can see it became very difficult to read the network panel due to the low contrast of the colors. I guess this happened after the last update
![image](https://cloud.githubusercontent.com/assets/412061/3842223/7e60d76a-1e35-11e4-8340-9c10f24250b6.png)

[2014-08-07 21:07] #96 closed, assigned to nobody

[2014-08-08 14:59] mauricecruz opened #97 "[canary] fix styles for button and select elements"
selectors probably changed
![image](https://cloud.githubusercontent.com/assets/1640686/3858310/99e0a34e-1f0c-11e4-8b16-d4a05fa68955.png)

[2014-08-25 21:13] Cycododge opened #98 "Theme overrides Network tab resource preview pane background"
Chrome - Version 36.0.1985.143
Extension installed from Chrome Store.

Tried viewing an html response and the background was too dark for most of the page text to be visible. Is it possible/desirable to disable styling for this content type?

[2014-09-04 06:45] mihai-vlc opened #99 "Default text color"
Whenever I use an extension for devtools the text is really hard to read.
![img](http://puu.sh/bkHp6/8b4616f2fc.png)
Can we change that color to something that is easier to see ?

[2014-09-04 13:21] #99 closed, assigned to nobody

[2014-09-12 19:33] Cycododge opened #100 "Does not play well with Google's PageSpeed extension."
As summarized. Much of the text is black on grey (background).

[2014-09-21 22:58] #100 closed, assigned to nobody

[2014-09-21 22:59] #97 closed, assigned to nobody

[2014-09-22 01:09] #98 closed, assigned to mauricecruz

[2014-10-14 11:42] jitbit opened #102 ""add new attribute" - black text on black BG"
steps to reproduce: Inspect element - right click - add attibitute

[2014-10-16 16:17] westlywright opened #103 "Version 40.0.2191.0 canary (64-bit) Mac - Font Color Change Issue"
In the latest canary release this morning there seems to be an issue with font colors inside the Elements pane.
![screen shot 2014-10-16 at 9 16 31 am](https://cloud.githubusercontent.com/assets/858614/4666046/da5675a6-554f-11e4-89a1-44c6ad1ee2cf.png)

[2014-10-17 19:10] #103 closed, assigned to nobody

[2014-10-18 10:53] nitinsurana opened #104 "Network tab, Headers section - content is not visible"
![network_headers_black_not_visible](https://cloud.githubusercontent.com/assets/7137160/4689310/fb020b9c-56b4-11e4-880c-bce82bc9b9ee.png)

[2014-10-18 15:09] #104 closed, assigned to nobody

[2014-10-30 21:35] nilmag opened #105 "Invalid package"
Hi,

Love the theme and i already have it installed on several computers. But when i tried to install the theme on a new computer today i'm getting the error: Package is invalid. Details: 'Could not load extension icon 'images/icon16.png'.'.

I'm running Chrome version: 38.0.2125.111 m

I see that there has been released a version today so maybe the package is flawed?

![image](https://cloud.githu

[2014-10-30 22:50] #105 closed, assigned to nobody

[2014-11-03 15:42] sscovil opened #106 "Network > Headers color scheme went dark"
Recently, I noticed the color scheme change on the Network > Headers tab. It used to be bright and easy to read, but now it is muddy and dark.

[Screenshot](http://i.imgur.com/Yf4mo7P.png)

Awesome theme, btw...thank you!

[2014-11-03 17:04] #106 closed, assigned to nobody

[2014-11-05 07:53] nitinsurana opened #107 "1.5.0"
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/104#comments

[2014-11-05 14:31] nitinsurana opened #108 "Hover over an attribute/variable during debug shows an unscrollable/broken UI containing value of attribute"
http://imgur.com/fsFzIMk

[2014-11-05 16:03] #107 closed, assigned to nobody

[2014-11-07 17:25] Cycododge opened #109 "Text for headers tab of a network request is dark blue on black."
Very difficult to read, especially on monitor without 100% brightness.
![screen shot 2014-11-07 at 10 24 32 am](https://cloud.githubusercontent.com/assets/3801560/4957287/0e92a880-66a3-11e4-8eb2-d2ff1ff3052b.png)

[2014-11-07 18:50] #109 closed, assigned to nobody

[2014-11-17 06:36] nitinsurana opened #110 "Network tab, hover over initiator distorting"
The complete trace is not shown and kinda distorts the UI.

http://imgur.com/vAEBgEQ

[2014-11-18 01:40] trusktr opened #111 "How to install manually?"
I tried opening up `theme-extension` in the extensions tab, and restarted Chrome. The devtools look the same. What am I missing?

[2014-11-18 01:53] #111 closed, assigned to nobody

[2014-11-20 10:45] ghost opened #112 "How about some skins for iPhone/Nexus/Lumia phones in mobile emulation view."
How about some skins for iPhone/Nexus/Lumia phones in mobile emulation view.
Would make a huge visual impact on previewing while doing mobile web dev.

[2014-11-20 16:56] #85 closed, assigned to nobody

[2014-11-24 09:04] mikhail-alhimik opened #113 "Rails Chrome panel"
Hello!
Rails panel -> all is black

Rails panel need some css correction

[2014-11-24 14:51] #112 closed, assigned to nobody

[2014-12-04 14:26] LeonardoGentile opened #114 "Colours changed after Canary 41 Update"
Last chrome canary updates changed some colors (41.0.2238.0 canary Mac (64-bit) )
Mainly the panel headers are back to the default grey and the details of a network resource have a white background.

![screen_shot_2014-12-04_at_15_19_42](https://cloud.githubusercontent.com/assets/412061/5299661/9ac2225a-7bc9-11e4-95ab-e48f21205dc8.png)
![screen_shot_2014-12-04_at_15_19_22](https://cloud.githubuser

[2014-12-15 01:57] miguelmota opened #115 "Ember inspector is blurry"
![screen shot 2014-12-14 at 5 55 31 pm](https://cloud.githubusercontent.com/assets/168240/5430093/76884ac4-83ba-11e4-8ec9-debfcb554f61.png)

Right hand side, text is blurry and unreadable on the [ember.js inspector](https://chrome.google.com/webstore/detail/ember-inspector/bmdblncegkenkacieihfhpjfppoconhi?hl=en)

[2014-12-15 01:58] #115 closed, assigned to nobody

[2014-12-15 04:30] #114 closed, assigned to nobody

[2014-12-15 04:33] #113 closed, assigned to nobody

[2014-12-15 04:34] #88 closed, assigned to nobody

[2015-02-07 18:42] mauricecruz commented on #108
I think this is fixed now. Please verify when you get a chance!.

[2015-02-07 18:42] mauricecruz commented on #110
I think this is fixed now.  Please verify when you get a chance.

[2015-02-11 21:15] cyril-macisaac opened #116 "When hovering over some properties the pop up displays a bubble with a scroll bar hiding the content"
![image](https://cloud.githubusercontent.com/assets/8581220/6156497/c1984646-b208-11e4-90e2-818ea63691bc.png)

Sometimes when I hover over a property to get a preview it shows up with the preview bubble, but the bubble contains a scroll bar that hides the content. This happens fairly often with small string values it seems. Works fine without the Zero Dark theme applied.

[2015-02-11 21:44] mauricecruz commented on #116
ahh.. thanks for reporting the issue. I fixed an issue with the text passing the bounds of the popup and I guess this is an inadvertent consequence. I'll look into it.

[2015-02-16 10:34] ionutvmi opened #117 "Media query not visible Chrome Beta"
http://puu.sh/fZjKD/eb1f7478cb.png

[2015-02-16 16:28] mauricecruz commented on #117
fixed in v. 1.6.7 which should be on the webstore shortly.

[2015-02-16 16:28] #117 closed

[2015-02-16 16:49] mauricecruz commented on #116
I think I got this patched in v.1.6.8 which should be on the webstore shortly. Please verify when you get a chance.

[2015-02-16 19:35] ionutvmi commented on #117
Still not fixed for me
http://puu.sh/fZObw/b491d75861.png

Chrome version: 41.0.2272.53 beta-m (64-bit)
DevTools Theme: Zero Dark Matrix 1.6.8

[2015-02-16 21:24] mauricecruz commented on #117
hmm seems to be a selector different between stable .. beta.. and canary. I normally don't support beta and dev versions, but this kinda makes it hard to use.

Fixed in v. 1.6.9.

[2015-02-17 08:45] ionutvmi commented on #117
Thank you

[2015-02-20 09:38] malyw opened #118 "Network tab: last item is not visible when vertical scroll is present"
Environment: OS X Yosemite.
When plugin is turned off all is ok (not Chrome issue).
Screen: http://i.imgur.com/Ez19EiG.gif

[2015-02-20 14:38] mauricecruz commented on #118
Thank for the report.  What version of Chrome?

[2015-02-20 15:26] malyw commented on #118
Version 42.0.2309.2 canary (64-bit)
(I always update to the last version of Canary).
Started to appear about 3 weeks ago.

[2015-02-21 22:52] mauricecruz commented on #118
Should be fixed in 1.7.0 which should be available shortly. Please confirm when you get a chance.

[2015-02-22 00:01] malyw commented on #118
Now it's fixed. Thanks @mauricecruz

[2015-02-22 00:01] #118 closed

[2015-03-13 06:37] briantully commented on #108
First off, I love, love, love this theme! Thank you for sharing it :)

However, I am seeing this issue as well and I am using the latest version from the Chrome Web Store. When debugging javascript in developer tools with this theme, you can not read the values when mousing over a javascript variable property. A tooltip tries to appear, but the contents are not visible or legible. It appears as th

[2015-03-13 14:11] mauricecruz commented on #108
@briantully you're welcome! Glad to hear you're enjoying it =).

I'll try to create a snippet so I can recreate a 1 line tooltip. If you have any snippets handy, that would be useful.

[2015-03-16 04:04] nitinsurana commented on #108
[code]

Debug the above script & hover over testVar, it's a single long-line but the entire line is not visible. Possibly, both horizontal & vertical scrolls are not showing up.

[2015-03-25 10:45] MechJosh0 opened #119 "Booleans and integer colours in the console"
Booleans and integers are dark blue on a black bacground in the console which is very difficult to read. http://i.imgur.com/ChPWxI0.png

[2015-03-25 10:57] z1ck commented on #119
I confirm the problem.

[2015-03-25 12:14] LeonardoGentile opened #120 "Many broken styles and functionality on last Canary (Mac)"
Hello,
thanks for your work once again!
I'm on Mac  43.0.2343.5 canary (64-bit), after the last (or maybe before?) update something doesn't work properly
- the infobox when hovering over a property is not properly displayed (a white box surrounds it and the up arrow is not correctly place)
- sometimes something similar to #116 happens
- some colors have changed making things difficult to read
- I

[2015-03-25 14:11] LeonardoGentile commented on #120
Also these lines appeared in the console

![screen_shot_2015-03-25_at_14_57_56](https://cloud.githubusercontent.com/assets/412061/6826356/2b1f38e0-d301-11e4-8003-8b17f00fd081.png)

[2015-03-25 17:17] briantully commented on #108
So I guess this issue is still unresolved?

[2015-03-25 17:18] briantully commented on #116
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/108

[2015-03-26 00:20] mauricecruz commented on #120
Thanks for the info! Will try to get to it this week!

[2015-03-26 06:48] mauricecruz commented on #120
Should be fixed in v.1.7.2. Please verify.

![image](https://cloud.githubusercontent.com/assets/1640686/6841521/4bb218be-d362-11e4-8451-5e3f84ec6dbb.png)

![image](https://cloud.githubusercontent.com/assets/1640686/6841535/7dcbfc02-d362-11e4-90fd-607ca78ca6ae.png)

[2015-03-26 06:49] mauricecruz commented on #119
If you're talking about Canary, it should be fixed in v. 1.7.2

[2015-03-26 06:49] mauricecruz commented on #119
![image](https://cloud.githubusercontent.com/assets/1640686/6841561/b4694954-d362-11e4-9f92-eac3932361d2.png)

[2015-03-26 06:51] mauricecruz commented on #119
![image](https://cloud.githubusercontent.com/assets/1640686/6841582/ee7ead50-d362-11e4-8d13-fdd735285024.png)

[2015-03-26 07:03] mauricecruz commented on #116
hopefully this is fixed in 1.7.3

[2015-03-26 07:04] mauricecruz commented on #108
please verify with 1.7.3 when you get a chance.

[2015-03-26 08:13] eldonzo commented on #120
1.7.3 here with 43.0.2343.5 canary (64-bit) on Windows 7, I still see all the style issues...

[2015-03-26 08:55] LeonardoGentile commented on #120
@mauricecruz I was already using 1.7.3

[2015-03-26 08:56] MechJosh0 commented on #119
Fix confirmed. Thank you.

[2015-03-26 08:56] #119 closed

[2015-03-26 13:38] mauricecruz commented on #120
@LeonardoGentile I pushed out 1.7.3 after I wrote the comment above. It's fairly new. Let me know if it's still a problem.

[2015-03-26 14:09] LeonardoGentile commented on #120
I double checked, I had already installed a version numbered 1.7.3
I removed it, went to the chrome store, re-installed, now it is still 1.7.3 but it works!

Maybe there was a mistake in some configuration files about the previous version? Not sure, but now seems to work better, I'll keep on testing and I'll keep up to date if I notice anything wrong.

Thank you very much

[2015-03-26 15:24] mauricecruz commented on #120
Oddly enough, I think that's happened before. I updated the devtools version used to check between loading the canary.css and stable.css. That's the only difference I can think that would've caused this. ::shrug::

Let me know if you find anything else!

[2015-03-26 19:04] mauricecruz commented on #116
ok.. still not fixed =|
![image](https://cloud.githubusercontent.com/assets/1640686/6854717/547e8808-d3c9-11e4-81ef-f4393163c88f.png)

[2015-03-26 19:05] mauricecruz commented on #108
Definitely not fixed yet.

![image](https://cloud.githubusercontent.com/assets/1640686/6854751/7eaf54e0-d3c9-11e4-99d9-32dc3a2c3f3a.png)

[2015-04-01 07:43] nitinsurana opened #121 "Hovering over variable shows scroll overlapping the variable value"
Fiddle to replicate the issue. - http://jsfiddle.net/umb2mzoL/3/

![untitled](https://cloud.githubusercontent.com/assets/7137160/6936531/e0ad0b3c-d870-11e4-837c-aa51fbe07bdf.png)

[2015-04-04 04:01] mauricecruz commented on #121
I think it's fixed now! I set a min height.

![image](https://cloud.githubusercontent.com/assets/1640686/6991355/b87ac836-da5d-11e4-99f8-ba635a142158.png)

[2015-04-04 04:01] mauricecruz commented on #120
I think we're good here right?

[2015-04-04 04:01] #120 closed

[2015-04-04 04:02] mauricecruz commented on #116
Fixed in v. 1.7.5
![image](https://cloud.githubusercontent.com/assets/1640686/6991357/d6373760-da5d-11e4-8b86-1e0cb0fdb1ab.png)

[2015-04-04 04:02] #116 closed

[2015-04-04 04:03] mauricecruz commented on #110
is this still an issue?

[2015-04-04 04:07] mauricecruz commented on #108
fixed in 1.7.5

![image](https://cloud.githubusercontent.com/assets/1640686/6991378/a398388a-da5e-11e4-8ae8-6c57ec9d528c.png)

[2015-04-04 04:07] #108 closed

[2015-04-04 04:11] mauricecruz commented on #102
I don't think I'll be able to override the override. There is a workaround though.

If the text is black, keep backspacing the cursor is at the beginning, then press backspace one more time. The text should now be white.

[2015-04-04 05:56] nitinsurana commented on #110
It's fixed.

[2015-04-04 05:56] #110 closed

[2015-04-04 06:10] nitinsurana commented on #121
Works fine in 1.7.5

[2015-04-04 06:10] #121 closed

[2015-04-06 23:28] LeonardoGentile commented on #120
:+1:

[2015-04-06 23:58] #102 closed

[2015-04-12 16:04] p-i- opened #122 "It is possible this theme throws out block indent/outdent using Tab/Shift+Tab"
I just filed https://code.google.com/p/chromium/issues/detail?id=476379

However, as detailed in that issue follow-up,  The erroneous behaviour disappears if I use an Incognito window.

Therefore I suspect it may well be this theme throwing it out.

If that is the case, I pray for a fix, as I like this theme very much I will find it very difficult to go back to black-on-white.

Please do have a lo

[2015-04-12 19:35] p-i- opened #123 "(OSX) Can't right-click items in file treeview explorer panel"
I was attempting to follow https://developer.chrome.com/devtools/docs/workspaces#mapping-a but failed at first instruction:

  1. In the Sources panel, right-click or Control+click on a file on the website.

In fact right-click doesn't work on *any* item In the file-view.   I had to disable the extension in order to complete the task.

[2015-04-12 20:05] paulirish commented on #123
quite interested in this!

[2015-04-13 04:08] mauricecruz commented on #123
What version of Chrome are you using? I wasn't able to reproduce using Chrome Stable on  OSX Yosemite.

FYI.. this was done on browserstack and I used right-click on the mouse.

![chrome-sources](https://cloud.githubusercontent.com/assets/1640686/7109695/d71515de-e170-11e4-9e08-77319aa2dc74.gif)

[2015-04-13 10:08] p-i- commented on #123
Dayum.
I've just re-enabled `settings -> experiments -> allow custom UI themes` and it is working.
What's more, Tab & Shift+Tab now behave correctly for indenting and outdenting,  which is the other issue I flagged yesterday.

It is as if disabling and re-enabling have shaken something loose.

[2015-04-13 15:23] mauricecruz commented on #123
@p-i- awesome! Someone else had a similar issue where [re-installing resolved their issue](https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/120#issuecomment-86530231). They don't seem related but maybe @paulirish can glean a pattern from it.

[2015-04-13 15:23] #123 closed

[2015-04-13 15:29] mauricecruz commented on #122
[resolved](https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/123#issuecomment-92299289)

[2015-04-13 15:29] #122 closed

[2015-04-15 13:56] bbsimonbb opened #125 "Error infobubble obscured by scrollbar"
Hi, since a

[2015-04-15 13:59] bbsimonbb commented on #125
Hi, since a recent update (?), when I hover over the red cross on a failing line of javascript, the info bubble error message is obscured by a javascript. I love dark themes. Can this please be dealt with. I'm on Chrome 41.
![darkthemebug](https://cloud.githubusercontent.com/assets/11962703/7160277/4c11dbb0-e388-11e4-9418-9f57dac61cb8.png)

[2015-04-15 17:42] mauricecruz commented on #125
thanks for the report. I'm able to reproduce it. I'll look into it.

[2015-04-15 20:15] bbsimonbb commented on #125
A pleasure. Good luck.

2015-04-15 19:42 GMT+02:00 Maurice Cruz <notifications@github.com>:

[2015-04-17 21:25] mauricecruz commented on #125
fixed in v 1.7.7
![image](https://cloud.githubusercontent.com/assets/1640686/7211208/bce2d9e4-e526-11e4-80eb-9fa6c040e84c.png)

[2015-04-17 21:25] #125 closed

[2015-04-20 14:37] LeonardoGentile opened #126 "Dock button disappeared"
Hello,
I'm on Canary 44.0.2375.0 canary (64-bit) for Mac.
Since the last update the button to dock/undock the developer tools has disappeared.
First I though that this was a chrome bug but then I deactivated your extension and it appeared again.

May I help you in any way to solve the problem?

![image](https://cloud.githubusercontent.com/assets/412061/7232355/64bc3b6e-e77b-11e4-82dd-de1d6d21fd48.

[2015-04-20 14:58] mauricecruz commented on #126
More than likely caused by selector syntax change and some css updates to devtools. I push all my updates to https://github.com/mauricecruz/zero-base-themes. If you want to take a stab and fixing it, feel free to fork it.

I'll try to get to it in a day or two. Day job is kicking my ass right now.

[2015-04-21 12:28] ttecho opened #127 "Color changed with chrome update"
After the last chrome update, some of the colors in this theme have become unreadable. Values evaluated in console are a dark purple and almost unreadable.
![capture](https://cloud.githubusercontent.com/assets/1775183/7252162/58fe8fb8-e800-11e4-9529-9d47066e62e0.PNG)

[2015-04-21 21:08] mauricecruz commented on #127
What version are you running? I don't see this problem on Dev or Canary.

[2015-04-22 12:25] ttecho commented on #127
Version 43.0.2357/.18 beta-m

On Tue, Apr 21, 2015 at 5:08 PM, Maurice Cruz <notifications@github.com>
wrote:

[2015-04-22 13:07] eldonzo opened #128 "Some text hidden by white boxes"
I currently see 2 issues with Chrome 44.0.2377.0 canary (64-bit):

Part of the bottom bar of the files panel is covered with a white box, and when I'm in debug, part of the text on the line where I set the breakpoint is unreadable beacuse of the light background color.

![dark](https://cloud.githubusercontent.com/assets/4640236/7274836/85dc7da0-e900-11e4-99a1-99480a6ddc28.png)

I tried to inspect

[2015-04-22 13:21] spectre013 commented on #127
running the same version as ttecho and seeing some of the same strangeness in the console.

[2015-04-22 15:15] mauricecruz commented on #127
I see. Looks like beta is in an intermediary stage between changes on stable and canary.

I only certify this theme on stable and canary. Hopefully it'll be resolved in the next beta release.

[2015-04-22 15:16] mauricecruz commented on #128
thanks for the report. Will look into it.

[2015-04-22 19:36] cdymond opened #129 "Image Hover Issue"
Not sure how to descrive other than when you hover over a link for an image, instead of showing a small preview with the dimensions of the image, it's showing what I believe might be compressed scroll bars.

![devtoolsweirdness](https://cloud.githubusercontent.com/assets/3812608/7283453/afbb1132-e904-11e4-9d2d-c6eb119f92a7.png)

Version 43.0.2357.37 beta-m (64-bit)

[2015-04-25 01:36] mauricecruz commented on #126
@LeonardoGentile fixed in 1.7.8. Please confirm.

[2015-04-25 01:37] mauricecruz commented on #128
@eldonzo fixed in 1.7.8. Please confirm.

[2015-04-25 05:38] ramgp commented on #126
@mauricecruz Fix is confirmed, thank you rock!

[2015-04-25 19:11] mauricecruz commented on #126
@ramp :+1:

[2015-04-25 19:11] #126 closed

[2015-04-27 10:25] eldonzo commented on #128
@mauricecruz yes, everything is right now, thanks!

[2015-04-27 13:48] #128 closed

[2015-04-28 18:27] akanimh opened #130 "Matching Sublime theme to this?"
I was wondering which theme I should use in Sublime to match this? Any suggestions?

[2015-04-28 18:36] mauricecruz commented on #130
Here's what I use. It's not exactly the same as the Chrome Devtools theme. Kinda never finished the CSS color highlighting of it.

https://gist.github.com/mauricecruz/9e0501a34ec1382fb509

[2015-04-28 18:36] #130 closed

[2015-04-28 18:37] akanimh commented on #130
Perfect! Thank you for sharing it.

[2015-05-06 16:04] bmakuh commented on #127
This theme is great! However, is there any support planned for DevTools extensions like [React Dev Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en)? Unfortunately it looks like the above screenshot right now.

[2015-05-13 23:34] ohnnyj opened #131 "Tab Close Button Position"
A feature request.

I've always disliked having the close button on the right. If I want to close multiple tabs in succession and they have different string lengths then I have to jump around to find the button. Adding the following will move them to the left:

[code]
Forked: https://github.com/ohnnyj/chrome-devtools-zerodarkmatrix-theme.

[2015-05-20 13:59] mauricecruz commented on #131
@ohnnyj awesome suggestion! I actually think this should be put into devtools natively. I'll put in a feature request and see if it gets some traction.

When I close multiple source tabs, I usually use `cmd/ctrl + w`.

[2015-05-21 16:10] dima-f1 commented on #126
Today noticed:
Chrome 43.0.2357.65m Win7
![mauricecruz_zero-base-themes - google chrome 2015-05-21 19 05 43](https://cloud.githubusercontent.com/assets/5352626/7753222/ae77a9c6-ffec-11e4-8046-86d85afa4355.png)

[2015-05-26 16:40] mauricecruz commented on #127
@spectre013 / @ttecho is this still an issue? I see that `stable` bumped up to v.43.

@bmakuh Thanks! Unfortunately, due to the sandboxing nature of extensions, any css changes I make won't affect other extensions. The reason why React Devtools probably looks messed it up is because they're assuming the devtools background is white and styling with that assumption without explicitly setting their

[2015-05-26 16:40] mauricecruz commented on #129
@cdymond is this still an issue? please confirm.

[2015-05-26 16:42] spectre013 commented on #127
@mauricecruz No, things are back to normal now. Thank you

[2015-05-26 17:48] #127 closed

[2015-05-26 17:55] mauricecruz commented on #131
Opened https://code.google.com/p/chromium/issues/detail?id=492261

[2015-05-26 21:41] ohnnyj commented on #131
Awesome, thanks. Hopefully they integrate into Chrome.

[2015-05-27 13:48] wstow commented on #129
Yes, I see this for any variable when I put my cursor on it in the console.

Version 43.0.2357.81 m

[2015-05-27 13:54] mauricecruz commented on #129
@wstow should be fixed in v1.8.0. If you have that version, please remove/add the extension again and let me know if that does it.

![image](https://cloud.githubusercontent.com/assets/1640686/7837640/4c7967e6-0456-11e5-88be-921f3a645813.png)

[2015-05-27 14:25] wstow commented on #129
Removing/adding v1.8 fixed it.  Thanks!

[2015-05-28 16:02] mauricecruz opened #132 "Style network-overview-canvas"
Can't style it right now because the canvas fillStyle is set via js. I can't override it.

![image](https://cloud.githubusercontent.com/assets/1640686/7864639/6613bfe0-0531-11e5-9ff3-b1675ec42963.png)

Opened https://code.google.com/p/chromium/issues/detail?id=493175. If you want to help out, :star: it.

[2015-05-30 23:45] LeonardoGentile commented on #126
Kind of late but I confirm on 45.0.2417.0 Mac
Thank you so much! :+1:

[2015-06-03 22:22] mauricecruz commented on #131
FYI... they closed the request as a `WontFix` citing that there's a context menu -> close tabs to the right option that suffices the need to close multiple windows quickly.

I'll try to make this an optional configuration on the theme when I build an theme configuration interface for this theme.

[2015-06-03 22:22] #131 closed

[2015-06-03 22:24] ohnnyj commented on #131
Thanks for the heads up, look forward to the configurator.

[2015-06-08 09:34] LeonardoGentile opened #133 "Colors changed again"
Hello again,
I don't know why but I guess that during development of chrome they keep on changing selectors, not sure why. Of course some little things of the extension won't work. Here some of them I found on Mac `45.0.2424.0 canary (64-bit)`

- On `source` panel, under scope, nothing is visible unless we select them with the mouse
![image](https://cloud.githubusercontent.com/assets/412061/803174

[2015-06-08 14:13] mauricecruz commented on #133
Thanks for the report. Yup, pulled an update on Canary today and they did some markup/selector changes.

Will patch when I get a free moment. Thanks.

[2015-06-08 20:37] mauricecruz commented on #133
fixed in 1.8.3.

[2015-06-08 20:37] #133 closed

[2015-06-17 23:39] mauricecruz commented on #132
This is fixed in Canary v 45.0.2434.0. Will wait for it to land on stable before closing

[2015-06-25 19:34] underclown opened #134 "React tab is not themed"
I've using your theme for a few months and like it a lot. However, I added the React dev tool extension but the new tab that is added to the dev tools is not themed. Any chance of supporting that?

[2015-06-26 05:13] mauricecruz commented on #134
There's no way I can support it through this extension because each extension is sandboxed each other.

But, there's a way you can inject the theme. It's a few steps long and you'll have to run it each time you open devtools. Does the job though.

Here's a link to it: https://gist.github.com/mauricecruz/f53c932961a04c01a096#file-zdm-react-devtools-md

![image](https://cloud.githubusercontent.com/a

[2015-06-26 05:13] #134 closed

[2015-06-26 05:15] mauricecruz commented on #91
FYI... made this an injectable so you don't have to dig into the filesystem.

https://gist.github.com/mauricecruz/f53c932961a04c01a096#file-zdm-react-devtools-md

[2015-06-29 14:04] #129 closed

[2015-07-01 19:25] underclown commented on #134
Thanks for such a quick response and a solution! It doesn't quite work for me though. The console gets the theme but the React pane does not. I do not see a devtools.html option in the <topframe> dropdown but I do see a React Developer Tools option. Even with that selected though, the pane does not change when I run the script in the console. Any ideas?

[2015-07-01 19:30] mauricecruz commented on #134
Hmm.. Make sure the React tab is currently selected before you open another devtools session. That will ensure that `devpanel.html` will be available in the console dropdown.

[2015-07-01 19:45] underclown commented on #134
Aha. I did not quite understand that part of the instructions because up until now I did not know you could open a devtools session for a devtools session. Thanks!

[2015-07-21 21:54] dsine-de opened #135 "Doesn't load in Chrome Version 44.0.2403.89"
Chrome stable just updated on my PC and now the extension isn't loading anymore.

[2015-07-22 16:36] mauricecruz commented on #135
Looks like the update reset the checkbox settings on the experiments tab. Can you check if allow custom ui themes is enabled?

[2015-07-22 17:46] dsine-de commented on #135
Great, that's it. Totally forgot about that checkbox.

Thanks!

[2015-07-22 17:46] #135 closed

[2015-07-23 11:04] bpmarinho opened #136 "Doesn't seem to work on latest stable version, 44.0.2403.89"
There was an update this week to chrome and this extension stopped working. Not sure if the problem is with Chrome or the extension.

Current version: 44.0.2403.89

[2015-07-23 11:33] benlambt commented on #136
Still works, you just have to reenable it:

Open developer tools settings ▶ Experiments ▶ [✔] Allow custom UI themes.

[2015-07-23 13:28] chrisg123 commented on #136
I had the same issue. @benlambt is correct. it was just disabled. Just reenable and all is good.

[2015-07-23 13:29] bpmarinho commented on #136
Just confirmed the solution. I checked the chrome://flags but forgot that extra step. Thank you.

[2015-07-23 13:29] #136 closed

[2015-08-12 02:04] alan-cole-salsa-digital opened #137 "When used with Accessibility Developer Tools, the text / background contrast is hard to read."
When using the Google Chrome plugin Accessibility Developer Tools ( https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb ) the Accessibility Properties tab text is black, on a dark background. The text should be light as per other tabs in that section.
![screen shot 2015-08-12 at 12 02 20 pm](https://cloud.githubusercontent.com/assets/12739575/921518

[2015-08-13 16:48] cypherpunk opened #138 "Text isn't visible in new Chrome color-picker (hex, hsl, rgb)"
The title really explains it all. Great extension.

[2015-08-14 11:05] altern8tif opened #139 "Not working on latest Chrome version 44"
Working previously on Chrome until the latest Version 44.0.2403.155 (64-bit) on Mac OS X Yosemite 10.10.5.  Theme now reverts back to the default light theme.

Tried on incognito mode to eliminate possible conflicts with other plugins, but issue still persists.  DevTools Experiments Flag already enabled.

[2015-08-14 17:05] cypherpunk commented on #139
It's not the flag, it's the setting in Devtools:
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/issues/135

[2015-08-14 17:07] altern8tif commented on #139
@cypherpunk Aha... Thanks for that.  Will close the issue then.

[2015-08-14 17:07] #139 closed

[2015-08-14 18:06] mauricecruz commented on #138
Thanks! Fixed in v. 1.8.7.

[2015-08-14 18:06] #138 closed

[2015-08-14 19:38] mauricecruz commented on #137
I'm afraid I don't have any good permanent solutions for you. Devtools extensions styles are sandboxed from each other so there'd be nothing I can do change the text color from my theme.

The background is inherited from the default pane styles. If I modify it, all the other panes will change as well.

But there is a way to change the color for just this pane. It just involves a few manual steps i

[2015-08-14 19:38] #137 closed

[2015-08-27 07:42] s-KaiNet opened #140 "Double click styling issue"
When double click on style or under elements tab words become black on black background. See attachments. Chome Version 46.0.2490.4 dev-m (64-bit)
![2015-08-27_1040](https://cloud.githubusercontent.com/assets/10658276/9515157/35c5222a-4ca8-11e5-8aa9-f78aaf8d76ff.png)
![2015-08-27_1039](https://cloud.githubusercontent.com/assets/10658276/9515158/35c6b3a6-4ca8-11e5-98ae-b4dd615f2a55.png)

[2015-08-27 12:15] mauricecruz commented on #140
I've been trying to override it but I haven't found a solution to override shadow dom selectors that use the `!important` rule. I opened an issue with the chromium team, but they marked it as a wontfix.

Maybe starring it will make them reconsider? https://code.google.com/p/chromium/issues/detail?id=524599

[2015-08-27 15:03] mauricecruz commented on #140
Put a band-aid in to make the background white. Not ideal, but it makes it functional for now.
![image](https://cloud.githubusercontent.com/assets/1640686/9524115/2d4871d0-4cab-11e5-8a2a-47bddd955be0.png)

[2015-09-02 21:14] cypherpunk opened #141 "Latest Chrome update screwed with things again"
Clicking on properties to edit them becomes very light on white. They should be dark gray like selectors.

[2015-09-02 21:27] mauricecruz commented on #141
What version are you running? I had to band-aid canary because they modified their css rules and I'm having difficulty overwriting them.

If this is related to your issue, please star this item.

[2015-09-02 21:45] narcolepticinsomniac commented on #141
Same person, just signed up. 45.0.2454.85 m. I was reading that issue. Have you tried "-webkit-text-fill-color:" ? It overrides "color:!important;" without the "!important;".

[2015-09-02 22:00] mauricecruz commented on #141
@narcolepticinsomniac awesome! that works.

I'll patch it with that rule instead of reverting the background. I'll still try to get the devtools team to remove the specificity on their selectors since it's affecting other things.

Thanks for the tip!

[2015-09-02 22:13] narcolepticinsomniac commented on #141
Not its intended use, but a handy little hack nonetheless. Glad I could help. I'm a big fan of this theme, keep up the good work.

[2015-09-12 03:05] mauricecruz commented on #141
This is resolved.

[2015-09-12 03:05] #141 closed

[2015-09-12 03:05] #132 closed

[2015-09-12 03:06] mauricecruz commented on #140
resolved

[2015-09-12 03:06] #140 closed

[2015-09-16 09:51] mcelotti opened #142 "chromium 43, missing arrows"
Hi, on my Chromium Version 43.0.2357.130 Ubuntu 14.04 (64-bit) I'm not able to see the arrows to open/close items/nodes/resources ecc.
If I click it toggles but it looks like the images are not visible:
![screenshot - 16092015 - 11 46 53](https://cloud.githubusercontent.com/assets/3830092/9901654/36d7649a-5c69-11e5-801f-a963bf07943a.png)

[2015-09-16 13:05] mauricecruz commented on #142
Is that the latest version? Sorry, I don't keep track of the Chromium release cycles. Chrome Stable is available for Linux and they're at v.45.

Would that work for your machine?

[2015-09-16 13:19] mcelotti commented on #142
Hey Maurice, I've upgraded to latest chromium (44) and now it works, sorry to bother you.

Thanks,
Marco

[2015-09-16 13:19] #142 closed

[2015-09-16 13:26] mauricecruz commented on #142
:+1: no worries!

[2015-09-21 07:59] gregorwilson opened #143 "Various UI bugs"
See screenshot attached - a few UI bugs have been creeping in over the last couple of weeks.

 - Labels are truncated
 - Strange lines appearing
 - Attribute suggestion is now not very legible

![screen shot 2015-09-21 at 09 57 00](https://cloud.githubusercontent.com/assets/1828888/9987342/73bb2702-6047-11e5-9bb4-d227168aca13.png)

[2015-09-21 10:43] #143 closed

[2015-09-21 10:43] gregorwilson commented on #143
this was an old version of Chrome

[2015-10-04 03:06] Iwasawafag opened #144 "Animations Controls panel needs some love"
Here's two screenshots for comparison

![](http://i.imgur.com/5MgHNn4.png)
![](http://i.imgur.com/iLoTZUR.png)

It's an experient though (called "Animation Inspection"), not a finished feature so it may change, but I would like to have it readable with this dark theme.
Google Chrome ver: 45.0.2454.101 m (64-bit)

And in case if you're not gonna bother with experimental features, can we possible ha

[2015-10-05 17:02] mauricecruz commented on #144
I'll get to it this week. Thanks for reporting!

[2015-10-07 12:56] jsalankey opened #145 "Linux Chrome v45 styling issues"
I've noticed two styling issues in Chrome v45 that only occur in Linux (seem to be fine here in Windows). Unfortunately I can't handily get screenshots, but I will do my best to describe them:

* The filters dropdown on the network tab and the console have an incorrectly colored background when active. It's still a bright white-ish gray.
* When paused at a JS breakpoint in, the hover styles on the

[2015-10-19 09:39] LeonardoGentile opened #146 "Canary 46 issues"
Hello,
these issues are happening in Chrome 46.0.2490.71 (64-bit)
- Source Panel -> cmd-p -> up/down arrows not working for selecting the script to debug
- Color inconsistencies (I'll try to be more specific as they occur) spread a little bit around. Specifically something that should be black or have a black background is usually white/white bg.

[2015-10-20 02:57] xiaojiangjiang opened #147 "Some Suggestions"
It is a awesome tool! I like it so much.But the navy blue is so hard to see clearly on a black background.If you can change the navy blue to white or some lighted color, it will be great!

[2015-10-20 03:11] mauricecruz commented on #147
can you paste a screenshot of what you mean?

[2015-10-20 04:38] xiaojiangjiang commented on #147
![image](https://cloud.githubusercontent.com/assets/8230871/10598023/63e5f52c-7727-11e5-9ef9-3ea46cefb35d.png)
like this

[2015-10-21 20:37] mauricecruz commented on #147
Can you tell me what version you're using? This is a screenshot from v46 stable

![image](https://cloud.githubusercontent.com/assets/1640686/10649422/0d33f742-7812-11e5-9fae-225c56cc82d1.png)

[2015-10-21 20:38] mauricecruz commented on #146
Pushed a sorta fix for canary. Just a few more updates to fix some layouts in the settings pane. Let me know the latest update addresses your issues though.

[2015-10-21 20:38] mauricecruz commented on #145
Any luck with screenshots?

[2015-10-21 20:40] mauricecruz commented on #144
Haven't gotten round to styling the animations panel yet but I do intend to style some experimental features.

Alternatively you can clone this repo and style anything to your liking - https://github.com/mauricecruz/zero-base-themes

[2015-10-22 01:27] xiaojiangjiang commented on #147
![image](https://cloud.githubusercontent.com/assets/8230871/10654597/f62de462-789e-11e5-8507-add0a381a291.png)
platform: iMac

[2015-10-22 01:30] mauricecruz commented on #147
Can you update? Stable is 5 versions ahead.
On Oct 21, 2015 9:27 PM, "xiaojiangjiang" <notifications@github.com> wrote:

[2015-10-22 01:49] xiaojiangjiang commented on #147
Ok thanks for answering ^_^

[2015-10-22 07:49] LeonardoGentile commented on #146
Thanks @mauricecruz, are you fixes only here on github or also in chrome web store?

[2015-10-22 13:47] mauricecruz commented on #146
Should be on the store.

- Maurice

On Thu, Oct 22, 2015 at 3:49 AM, LeonardoGentile <notifications@github.com>
wrote:

[2015-10-23 03:54] mauricecruz commented on #147
no prob!

[2015-10-23 03:54] #147 closed

[2015-10-23 18:27] wsoyka opened #148 "Mac Scrollbar Styling"
On Mac (10.10.3), Chrome (46.0.2490.71) sometimes some of the scrollbars are not styled correctly, or rather not styled at all. Cycling through the tabs of the DevTool (Elements, Network, Sources, etc) seems to fix the problem.

I got all possible combinations on the Elements tab, namely the right scrollbar, the left scrollbar and both scrollbars not being styled. See the screenshot below.
![Both

[2015-10-23 18:34] mauricecruz commented on #148
Also get them on windows. It happens everytime I open devtools. What I think is happening is that the scrollbar ui loads before the theme css loads. And when the css is parsed, it doesn't trigger a repaint on the scrollbar so the native style stays. But once you change tabs or force a repaint, it takes the scrollbar css into consideration.

I made all that up but it makes sense to me =D.

In any c

[2015-10-23 18:39] wsoyka commented on #148
Sounds reasonable, afterall this has not yet happened to me when the scrollbar was added post devtool opening time (read: open all the divs). Idk how or where this style is applied, but could you maybe do something like [this](https://stackoverflow.com/questions/3485365/how-can-i-force-webkit-to-redraw-repaint-to-propagate-style-changes)?

[2015-10-23 18:49] mauricecruz commented on #148
The style is applied via a devtool api that simply allows me to inject css into the sandboxed devtools environment. I won't be able to use any javascript to trigger a paint.

[2015-10-26 00:52] alan-cole-salsa-digital commented on #137
Thanks for the suggestion!

[2015-10-27 03:35] #148 closed

[2015-10-27 05:35] mauricecruz commented on #144
In latest build on webstore.

![image](https://cloud.githubusercontent.com/assets/1640686/10750367/edac0f3a-7c4a-11e5-828c-fe3d6ce5a036.png)

[2015-10-27 05:35] #144 closed

[2015-10-29 02:31] mauricecruz commented on #146
canary's at v48 now so please open another issue if there's unstyled parts. FYI.. there's unstyled parts in v.48 I haven't gotten to yet =).

[2015-10-29 02:31] #146 closed

[2015-10-29 02:31] mauricecruz commented on #145
Stable is at v46 now. If you still have issues, please reopen.

[2015-10-29 02:31] #145 closed

[2015-10-29 08:41] LeonardoGentile commented on #146
@mauricecruz sorry I haven't replied you sooner. Your fixes seems to work (cmd-p, then arrow, then selection). Thanks a lot! :+1:

Where are the majority of the unstyled parts in 48? So I will avoid opening another issue if you have already figure them out :)

[2015-10-29 09:04] fatfisz opened #149 "Almost invisible caption in the screenshot view"
As in the attached image, the number of ms is almost invisible (black on the dark grey background).
It's in the Network panel.
Chrome version: 46.0.2490.80 m.

![screen2](https://cloud.githubusercontent.com/assets/6004414/10814099/c5727dbc-7e23-11e5-87bd-907830c14dc4.png)

[2015-10-29 13:34] mauricecruz commented on #146
no prob! Most of the unstyled parts are in the settings menu.

[2015-10-29 13:35] mauricecruz commented on #149
thanks will fix soon

[2015-10-29 16:58] mauricecruz commented on #149
fixed in v.2.0.2. Should be in webstore shortly.

[2015-10-29 16:58] #149 closed

[2015-10-30 15:04] fatfisz commented on #149
It works, thanks :)

[2015-11-11 22:04] dhershman1 opened #150 "XML blends in with preview tab in network"
This is the same comment I posted on the actual extension page, sorry I didn't notice your reply until today.

The background of the theme makes it harder to read xml code replies in preview as shown below

![Example Image](http://i.imgur.com/uEtDpiO.png)

[2015-11-12 06:25] mauricecruz commented on #150
Thanks for the screenshot. Do you know what type of extension or type of file triggers this preview? Or maybe a url?

[2015-11-12 14:29] dhershman1 commented on #150
The most I know behind it is the site makes an ajax call to a resource which returns a response in xml. Most of the XML is setup in a .handlebars file however.

[2015-11-18 18:19] WiBla opened #151 "[Question] Sublime Text color scheme"
Hello,

I'm in love with your theme ever since I first used it.
I love it so much that I'm thinking of making a color scheme for Sublime Text (2?/3) that will reproduce it as close as I can, and maybe a complete theme ?

I would like to know if you didn't already started to do something similar and/or if I could use your resources to make it, with credits of course (if I come to publish it.. For t

[2015-11-18 18:41] mauricecruz commented on #151
Thanks for your kind words. Really appreciate it!

I somewhat have a zero dark matrix theme for sublimetext. It's not fully implemented and stopped working on it because xml is a pain for me to work with.

https://gist.github.com/mauricecruz/9e0501a34ec1382fb509

If you do improve it, please share it so I can use it!

[2015-11-20 16:15] WiBla commented on #151
Hey,

I've edited it to be as close as I could to the devtool. (Work In Progress)
Using the package "ScopeHunter" made it really easy ;)
HTML, CSS and JS supported ATM (I will add other languages and BracketHighlighter support in the near future).
I also recommend labelling this issue "Question".

Here is the source: https://gist.github.com/WiBla/40705f1b1c0f28d302d2
If there is anything you want

[2015-11-22 17:52] #151 closed

[2015-12-13 10:06] narcolepticinsomniac opened #152 "Custom scrollbars affecting functionality"
Hey Maurice. The limitation you explained on how the CSS can be injected is never gonna allow for custom scrollbars to render with any degree of efficiency. More often they don't, or one does and the other doesn't. None of this would be a big deal, but whatever code you're using is causing the default scrollbars to malfunction. Part of the width is cut off and what's  worse is the buttons and the

[2015-12-13 17:51] mauricecruz commented on #152
Thanks for the detailed description of the issue. I'd like to do some investigation. Can you provide the chrome version and OS you're using?

If possible, also a screenshot to reference when testing.

[2015-12-13 19:10] narcolepticinsomniac commented on #152
Latest stable: Version 47.0.2526.80 m (64-bit). It's not easily reproducible. It seems to only happen when you're in the middle of something and it's a huge pain in the ass.

The part about them not rendering correctly is easy to reproduce, it's a crap-shoot when Devtools first open. The buggish behavior happens occasionally and the only explanation is that the defaults are showing but some of you

[2015-12-16 10:33] jasonhuang0324 opened #153 "Triangle Arrows not turning down in Elements and Objects in Console"
Hi Maurice, I have recently reinstalled my chrome and reinstalled this awesome extension, but just found out recently that the triangle arrows in html elements view and objects in console has an issue, that is the triangle arrows wouldn't point down after going down into the tree (can't recall whether it's there already before reinstalling chrome), it's sometimes quite confusing even with the inde

[2015-12-16 15:19] mauricecruz commented on #153
Thanks for the report. This is Canary channel right? I noticed it a week or so ago hoping it would be resolved in the next iteration.

Seems like animations no longer are working for these dom nodes. I'll disable it the animation for now.

[2015-12-17 05:29] jasonhuang0324 commented on #153
I'm on the Dev channel, and it seems to be working originally for chrome, see the incognito view screenshot below.
![image](https://cloud.githubusercontent.com/assets/2591880/11862115/0d715060-a4c2-11e5-8422-20a333a31ec9.png)

[2015-12-17 07:21] mauricecruz commented on #153
Thanks Jason. I remove the arrow animations for now. Has something to do with the internals of chrome.

It's only broken on v.49 on the elements panel. Everything else is fine.

Update should be in the store shortly.

[2015-12-17 07:21] #153 closed

[2016-01-07 07:43] EdgarsZagorskis opened #154 "Change text color in the Network -> Preview tab"
Hi. Thanks for the theme. Superb theme, but can You also apply light colour to the Network -> Preview tab? For JSON previews its fine, but for normal text it is still black (as default-browser-text-colour-black).I attach a screenshot of what i mean.
Can you please apply same default text colour for the Preview as it is in the Network -> Response tab?
![black preview tab](https://cloud.githubuserco

[2016-01-12 09:56] Jules2010 opened #155 "When changing elements css styles doesn't change"
Hi,

In the last update of chrome the plugin seems to fail to allow selection of new elements.

So I would select a different html element and the style would not reflect the selection.

Disabling the extension fixes the issues.

Really love this extension, so would be pleased to see a fix.

Would be happy to test it too.

Jules.

[2016-01-12 14:38] Jules2010 commented on #155
Hi

Yes the element panel. I click on a html element and the contents of the styles box doesn't change.

I select another element an still nothing changes in the style box.

I have to restart my browser.

Then I can select styles for a short time.

The expected behaviour would be to select a html element and see the css style for it in the style box. Then when selecting another element have the st

[2016-01-12 14:41] mauricecruz commented on #155
I see. Hmm that sounds a bit difficult to troubleshoot since it sounds like some piece of logic is not executing to update the UI. But my theme only affects css. Will definitely look into it and try to reproduce. Can you provide your OS and browser version please.

[2016-01-12 14:43] Jules2010 commented on #155
Windows 10 and chrome 47.0.2526.106m (64 bit)

[2016-01-19 19:11] nikolowry commented on #152
Was about to add a new suggestion as an issue, but since it deals with scrollbar functionality I'll add it here:

Any interest in detecting overlay scrollbars and then consequently not theming the scrollbars if detected?

Using the tried and trusted method that David Walsh wrote about a few years back would do the trick [https://davidwalsh.name/detect-scrollbar-width].  So any scrollbars that retu

[2016-01-25 11:08] Jules2010 commented on #155
This issue happens in chrome, so it's probably nothing to to the zerodark.

[2016-01-25 11:08] #155 closed

[2016-02-08 14:32] tribou commented on #150
This may be related to certain views used by many chrome extensions...

Here's the attributes section of Ember Inspector:

![screenshot](https://cloud.githubusercontent.com/assets/1641390/12888176/58b9d9ca-ce3e-11e5-8d12-5a5eca80ba8c.png)

[2016-02-08 14:57] mauricecruz commented on #150
Thanks for the report. Last I remember, there wasn't any selector hook that
I could use to disable the background on plugins. I'll check again. Things
may have changed.

- Maurice

On Mon, Feb 8, 2016 at 9:39 AM, Aaron Tribou <notifications@github.com>
wrote:

[2016-02-09 22:20] davelaflam opened #157 "ZeroDarkMatrix theme is hiding the mobile emulator icon, devtools settings bullet icon & [X] closing icon"
When applying the ZeroDarkMatrix theme it is hiding the mobile emulator icon on the left side of the devtools task bar as well as hiding the devtools setting vertical three dot icon & [X] closing icon on the far right of the devtools task bar.

I'm not exactly sure when this started happening but I think it was very recent as I remember seeing and using the icons fairly recent.

Attaching a screen

[2016-02-09 22:56] mauricecruz commented on #157
Thanks for the report. I'll fix asap. Please let me know what version
you're on.

- Maurice

On Tue, Feb 9, 2016 at 5:20 PM, Dave LaFlam <notifications@github.com>
wrote:

[2016-02-09 22:58] davelaflam commented on #157
Chrome Version 48.0.2564.109 (64-bit)

[2016-02-12 06:48] g-akshay opened #158 "Scroll gets stuck in Network panel"
When one scrolls to the end of network panel, the scroll becomes unresponsive.

[2016-02-17 09:50] Silom opened #159 "Custom UI disappears after testing via device inspector"
Hey,
I submitted this a few month ago to the chrome ticket system, but they don't really care..

My problem:
When I use the (chrome device inspector)[chrome://inspect/#devices] with the active and working dark theme and then open the devtools in a common website, the theme gets rejected and it switches back to the default white theme.
If you tell me where I could possibly find the error log I can

[2016-02-17 20:32] mauricecruz commented on #159
Let me try to reproduce. What version of chrome are you on? The theme is entirely css and it uses a devtools method to inject the styles into the head of the page. Not sure there'd any logs to indicate an issue. I'll see what I can find.

[2016-02-18 12:41] Silom commented on #159
Hey @mauricecruz,

I use the latest chrome.

I think it got something to do with the device screen sharing. When I open the inspector the preview usually pops up as well. Til the point everything is fine, but if you close the window and try to open a new one it gone white again.

[2016-02-22 16:51] mauricecruz commented on #157
@davelaflam is this still an issue? I'm having trouble replicating on stable.

[2016-02-22 18:28] davelaflam commented on #157
Weird, about a week ago those icons became visible again so I thought you may have put in a fix but it looks like it corrected itself and those icons are now visible. On a side note, I came across this post http://bit.ly/1mTfPrr that they are now going to bake in a dark them for dev tools. It's currently in canary and looks like it'll be released in the stable v49. Thanks again for all your help.

[2016-02-22 18:28] #157 closed

[2016-02-23 16:39] mauricecruz commented on #152
Sorry for the delay but I was finally able to replicate the issue! The theming api doesn't let me use any js to do any checks or calculations so it might be a bit tricky. But I'll figure out a solution.

[2016-02-23 17:33] nikolowry commented on #152
@mauricecruz there might be couple options, but they require you managing the scrollbars css and the theme css independently:

- check the platform (Chromium v50 on OSX doesn't have a chrome-flag for "overlay scrollbars" anymore, so I assume Linux/Windows are the only ones that might have it now and OSX uses overlay by default) and if the platform is Linux/Windows, check for to see if the flag (is

[2016-02-23 23:35] narcolepticinsomniac commented on #152
Glad to hear it. The bug probably pops up more depending on how you use devtools. It was happening quite often for me, so I finally had to disable your theme.

I can see why you don't want to leave the default light scrollbars in a dark theme. If your main objective is to make them dark, I came up with a hackish solution. I made my own stylesheet and have been sideloading it. It's nowhere near as

[2016-03-07 03:12] yangzj1992 opened #160 "Doesn't show pretty in Chrome Version more than 49"
My Chrome version is 49.0.2623.75 (64-bit). In this new version, Chrome has changed the style of their mobile device debug mode.So the theme view has become like [this](http://qcyoung.qiniudn.com/qcyoung/theme-in-chrome-49.png). Can we unify the mobile device display area and developer panel area in consistent style?

[2016-03-07 15:07] johny-gog commented on #160
I would rename this to:

Not compatible (ugly) with mobile device mode in newest Chrome (>=49)

I would love this to be resolved! :+1:

[2016-03-07 15:39] mauricecruz commented on #160
Thanks for the report. Will address within the week.

- Maurice

On Mon, Mar 7, 2016 at 10:07 AM, Jan Nowotny <notifications@github.com>
wrote:

[2016-03-16 16:08] mauricecruz commented on #160
fixed in v. 2.1.1 on webstore

[2016-03-16 16:08] #160 closed

[2016-03-24 10:43] mladenp opened #161 "Broken in Chrome v 49.0.2623.87"
I have been using this theme for a long time and i think this is the first time its been broken.
I am using Chrome v 49.0.2623.87 on Windows 10.

[2016-03-24 13:57] mauricecruz commented on #161
Thanks for the report. Can you give me some details what type of broken it is?

[2016-03-24 14:05] mladenp commented on #161
Here is screenshot: [http://imgur.com/Y4w3IcA](url)

[2016-03-24 14:20] mauricecruz commented on #161
Hmm.. using the same version on Mac and all looks well. Can you try uninstalling the plugin and reinstalling?

[2016-03-24 14:30] mladenp commented on #161
I did that already, i also don't have any other extensions for DevTools.

[2016-03-24 14:45] mauricecruz commented on #161
ok.. will test on win 10. Thanks!

[2016-03-24 14:58] mauricecruz commented on #161
Can't seem to reproduce on Chrome 49 on win10 via Browserstack.

![image](https://cloud.githubusercontent.com/assets/1640686/14020735/da38e728-f1ae-11e5-8c2b-d5ca7f7271f3.png)

By any chance, are you using remote devtools and rendering a devtools session to debug an android chrome browser?

[2016-03-28 15:59] mauricecruz commented on #161
@mladenp just checking if you were able to resolve or can provide additional info.

[2016-03-28 19:10] mladenp commented on #161
Nope, tried cleaning up my Chrome a little but nothing helped.
I guess there are more users with Windows 10 and latest Chrome version but i didn't see anyone here mentioning this problem.
I'll try to clean install Chrome and see if that fixes the problem.

[2016-04-08 15:57] tonybaroneee opened #162 "Loose permissions"
Hey, love the extension! Would you be able to specify the exact permission(s) you need in your manifest file? It's currently asking for read/write access to all data when installing, which seems unnecessary for what this extension is actually doing (just loading an extra stylesheet).

Thanks!

Reference: https://developer.chrome.com/extensions/permissions

![https://s3.amazonaws.com/uploads.hipcha

[2016-04-08 16:00] mauricecruz commented on #162
Sure thing! Thanks for the info.

- Maurice

On Fri, Apr 8, 2016 at 11:57 AM, Anthony Barone <notifications@github.com>
wrote:

[2016-04-15 09:14] JayGeorge opened #163 "Style controls are off-screen in Canary 52.0.2709.0"
This has been broken for maybe a week or two.

The Style controls you normally see in the Elements tab are overflowing to the right.

I’ve attached a gif showing them working as fine when I launch normal devtools (without custom UI themes), and then them overflowing using Zero Dark Matrix.

![normal devtools fine](https://cloud.githubusercontent.com/assets/693601/14556984/d9ffbec6-02f2-11e6-876f-8

[2016-04-15 14:16] mauricecruz commented on #163
@JayGeorge what is the 2nd icon from the right next to the +? I'm missing that from my devtools

[2016-04-15 14:21] JayGeorge commented on #163
Oh that’s the Layout Editor; an experiment in Devtools.

Without that turned on the results are still the same though. This is Canary btw.

[2016-04-15 14:29] mauricecruz commented on #163
Is that behind a flag? How do I get that turned on?

[2016-04-15 14:32] JayGeorge commented on #163
In the settings under experiments tap shift 6 times to get extra stuff.
It’s there.
![screenshot 2016-04-15 15 32 04](https://cloud.githubusercontent.com/assets/693601/14564612/490c079e-031f-11e6-9253-bfa9c85eb7e4.png)

[2016-04-15 14:54] mauricecruz commented on #163
Ahh sweet. Haven't look in there in awhile. Thanks! I'll get to a fix soon!

- Maurice

On Fri, Apr 15, 2016 at 10:32 AM, Jay George <notifications@github.com>
wrote:

[2016-04-15 19:53] mauricecruz commented on #163
definitely having trouble reproducing on same canary version on mac. gonna try using a virtual and validating on a clean install.

[2016-04-18 01:47] mauricecruz commented on #163
@JayGeorge wasn't able to reproduce on virtual. Are you loading via chrome webstore or custom built package?

[2016-04-21 21:36] mauricecruz commented on #163
Can you try the webstore version and let me know if it's still an issue.

[2016-04-21 22:44] mauricecruz commented on #162
Looked into the possible permission settings and it looks like that warning is put up if a 'devtools' page is used.

Doesn't look like I'll be able to remove it with the current way themes are injected into devtools. Thanks for bringing this to my attention though!

[2016-04-21 22:44] #162 closed

[2016-04-21 22:50] tonybaroneee commented on #162
Sounds good, thanks for digging in!

[2016-04-22 13:20] JayGeorge commented on #163
Hey, I re-installed Canary and it’s fine now, even with the experiments
turned on.

You know what it might have been? I had previously ticked the experiment
"Reduced indentation in Elements DOM tree"
But I don’t want to try it again in case it messes stuff up!

On 21 April 2016 at 22:36, Maurice Cruz <notifications@github.com> wrote:

[2016-04-26 17:37] mauricecruz commented on #163
@JayGeorge thanks for the response. I turned that one on but couldn't replicate. Glad you got it working though!

[2016-04-26 17:37] #163 closed

[2016-04-26 17:38] mauricecruz commented on #161
@mladenp still experiencing issues? Stable should be on v50 now.

[2016-04-26 17:39] mauricecruz commented on #158
@g-akshay sorry for the non-response. Totally missed this. Is this still an issue?

[2016-04-27 08:57] mladenp commented on #161
I installed it again on v50 and it works fine.

[2016-04-27 08:57] #161 closed

[2016-04-27 15:45] dqisme commented on #91
I found the way above doesn't work any more, so I hacked the react devtools packed chrome extension and re-design it into Tomorrow theme.

[https://github.com/dqisme/react-devtool-with-tomorrow-theme](https://github.com/dqisme/react-devtool-with-tomorrow-theme)

[2016-04-27 15:48] mauricecruz commented on #91
@dqisme awesome! Wonder if react devtools works with the native dark theme as well.

[2016-04-27 16:09] dqisme commented on #91
@mauricecruz I looked into the extension package and the color is hard-coded in it. Facebook made devtools as inline styling for some React Native reason. so i think it doesn't work either.

[2016-05-01 14:57] g-akshay commented on #158
yes its still there. I have started using chrome's inbuilt black theme, though will love to move back to zero dark matrix.

[2016-05-12 02:02] quinncomendant opened #164 "Settings > Shortcuts screen keystrokes are dark-on-dark"
In Chrome v50, the dev tools Settings > Shortcuts page displays they keystrokes as dark on a dark background, i.e., not readable. Screenshot:

![screen shot 2016-05-11 at 20 58 50](https://cloud.githubusercontent.com/assets/6884276/15201933/8ad4e73a-17bb-11e6-8bd8-50450e3f0f76.png)

[2016-05-12 16:26] mauricecruz commented on #164
Ahh, I think you have the 'dark' native theme setting enabled. The theme was built to stack on the original 'default' theme. You can switch to the default theme so the keys render properly.

I'll look into what it will take to support stacking over the dark theme.

[2016-05-13 00:10] quinncomendant commented on #164
Yep, that's exactly what's happening. I wasn't aware Chrome had a built-in dark theme, and must have selected it in confusion. zerodarkmatrix is nicer though. =)

[2016-05-13 00:19] mauricecruz commented on #164
Thanks! The native theme is... inspired by this theme, so they look very
similar.
On May 12, 2016 8:10 PM, "Quinn Comendant" <notifications@github.com> wrote:

[2016-05-13 11:54] hutzlibu opened #165 "New Dev-tools break Style in autocomplete"
Since the dev-tools introduced a new autocomplete-feature (of all the input you made?)
it breaks style:
![chrome dark](https://cloud.githubusercontent.com/assets/7058891/15247098/1a648962-1912-11e6-95c4-a421294d11a3.jpg)

Oh, and I really like your work, btw. ...

[2016-05-13 14:34] mauricecruz commented on #165
The styles are working in v. 50.0.2661 of Chrome and 2.1.4 of the theme. Can you verify you're on the latest version and let me know what OS you're using?
![](http://take.ms/izR1w)

[2016-05-13 14:34] #164 closed

[2016-05-17 21:23] hutzlibu commented on #165
Ah ... the problem was the version.
Because I did not installed through the web-store, rather than downloaded the zip from github
And this version seems to be outdated ...

[2016-05-17 21:24] #165 closed

[2016-07-05 10:09] Enclave88 opened #166 "Can you modify color scheme at the React tab?"
Right now it's too difficult to read.

For example my screenshot:
[https://www.dropbox.com/home?preview=Screenshot+from+2016-07-05+15-33-03.png](url)

About system:
Ubuntu 16.04, Google Chrome Version 51.0.2704.106 (64-bit)

[2016-07-05 13:50] mauricecruz commented on #166
screenshot is 404

[2016-07-05 16:16] Enclave88 commented on #166
@mauricecruz, sorry for that, [here it is!](https://s32.postimg.org/68yxdqglx/Screenshot_from_2016_07_05_15_33_03.png)

[2016-07-05 16:43] mauricecruz commented on #166
I can't modify the text because styles are sandboxed. And also, they're using inline styles.

But - I was able to paint the background white for the react theme. Update should be in webstore shortly.

![image](https://cloud.githubusercontent.com/assets/1640686/16592307/13fb8592-42ae-11e6-963e-2b3e6f1cc24e.png)

[2016-07-06 01:21] Enclave88 commented on #166
Thanks! That's much better!

[2016-07-06 09:31] mestrini commented on #154
I'm having the same problem with the preview tab colors for sharepoint CAML soap responses.
Any development for this issue?

tx

![preview_pane](https://cloud.githubusercontent.com/assets/8707565/16613580/adf0a680-4364-11e6-8c6e-730123e466ef.png)

[2016-07-06 15:40] mauricecruz commented on #154
@mestrini Do you have any public sources where I can get this response. Want to see why devtools isn't picking up the theme colors.

If not, can you paste the markup of this tab (the actual devtools markup) so I can paste it in my editor

[2016-07-11 11:30] mestrini commented on #154
@mauricecruz

Please show me how to get the markup

[2016-07-12 05:39] mauricecruz commented on #154
@mestrini - this should help you out - http://stackoverflow.com/a/12291163/1876861

[2016-07-12 09:37] mestrini commented on #154
Thank you for the link. Didn't know one could inspect the inspector.
Had a hard time doing it since I had a running application capturing the Ctrl+Shift+I combination and the second inspector would never come up since there is no context-menu either.

Anyways... Here's the file with the complete markup. Good luck with it :)

Cheers

[dev-tools_markup.txt](https://github.com/mauricecruz/chrome-devt

[2016-07-23 21:33] Shiro-dono opened #167 "No options"
I did all the steps, but I can't get into the options to activate the custom UI.

[2016-07-23 23:44] mauricecruz commented on #167
Make sure you click relaunch now after you check off the devtools experiments checkbox

![](http://take.ms/yyRsc)

[2016-07-26 10:53] Shiro-dono commented on #167
Hello, yes i did that, and re did everything
But I still have this
L![untitled-1](https://cloud.githubusercontent.com/assets/13037716/17135406/5175ffa2-5338-11e6-8d4f-f62f70db1d59.jpg)

[2016-08-12 01:40] mauricecruz commented on #167
@Shiro-dono that menu won't bet you to the settings to turn on the devtools theme. You'll have to open developer tools (ctrl/cmd + shift + i), open the settings menu , select the experiments tab and then check off 'allow custom UI themes'

![](http://take.ms/MJ9Xb)
![](http://take.ms/4Xyhs)

[2016-08-15 08:43] whq731 opened #168 "support Chrome 53 Application panel background color using theme's color"
This is a great theme.
Chrome 53 adds Application panel .
Hope theme can support it .
<img width="721" alt="2016-08-15 4 39 57" src="https://cloud.githubusercontent.com/assets/5442362/17659768/4dbcde06-6307-11e6-9a83-4621bbe90ddd.png">

[2016-08-15 14:35] mauricecruz commented on #168
thanks for letting me know. Will take a look when I get a free moment.

[2016-08-24 07:18] m98 opened #169 "syntax highlighting when working with Chrome console"
Maybe someone before asked this, but this is what I think can be really great to add to the _chrome-devtools-zerodarkmatrix-theme_

For example, I want to write simple test inside my chrome console (developer tools), but it is just simple text and does not have any color, that would be great if you could add some simple colors to brackets, parentheses, and commas.

I know there are limitations too

[2016-09-15 16:49] mauricecruz commented on #169
Great suggestion. I can look into what's available. I'm limited to what CodeMirror recognizes.

[2016-09-22 14:15] mauricecruz commented on #168
this is styled in v2.1.8. Should be available shortly.

[2016-09-22 14:15] #168 closed

[2016-09-22 14:43] mauricecruz commented on #167
Are you still experiencing issues?

[2016-09-22 14:53] Shiro-dono commented on #167
Hello, thx for the concern, indeed it works, i have forgotten about the settings that chrome has (F1) from inspect element, I found the stuff and I chose the Dark (Side) Theme.

[2016-09-23 00:44] yinhaibo01 opened #170 "It doesn't work in Version 53.0.2785.116 m (64-bit)"
As title, I like this extension very much.
But I can not use it after updating the chrome to the latest version.

[2016-09-23 00:49] yinhaibo01 commented on #170
Uh-oh;
I fount it, the latest chrome has the console theme: default and dark.
Thank you very much, maybe chrome team learned this from you

[2016-09-23 00:49] #170 closed

[2016-09-23 02:52] mauricecruz commented on #167
Awesome. Thanks!

[2016-09-23 02:52] #167 closed

[2016-09-23 02:59] mauricecruz commented on #170
Yes, the devtools added a native dark theme with similar colors. There are minor differences but for the most part, it does the job. Enjoy!

[2016-09-26 19:38] dsmeltz opened #171 "Line numbers in source view are light green"
I think this started with the latest Chrome update.  The line numbers in the source view are light green.   If the background was just dark I think that would solve the issue.  (See screen shot)

![image](https://cloud.githubusercontent.com/assets/1830600/18849071/32c3f044-83ff-11e6-9429-dc8ff6dff47b.png)

[2016-09-26 20:47] mauricecruz commented on #171
Thought I reverted it. I'll check it out.  Thanks!

[2016-09-26 21:13] mauricecruz commented on #171
Ahh forgot to publish the revert. Should be available on the web store soon.

[2016-09-28 22:45] mauricecruz commented on #171
Can you confirm if this is fixed for you?

[2016-09-28 22:53] dsmeltz commented on #171
Looks great! Thanks

On Sep 28, 2016 6:45 PM, "Maurice Cruz" <notifications@github.com> wrote:

[2016-10-05 18:25] #171 closed

[2016-10-31 13:57] fredle opened #172 "HTML element properties are unreadable"
See this image:

http://i.imgur.com/sYX3jaI.png

[2016-10-31 14:27] mauricecruz commented on #172
Thanks for filing! Looking into it.

[2016-11-07 13:36] ragnaro89 commented on #154
Any updates on this ?

[2016-11-15 15:02] mauricecruz commented on #154
I tried injecting the markup text but it's missing the actual preview tab markup. It's just the network shell.

If you can get me the injected markup OR setup a jsfiddle that sends a mock caml response, I can see what's going on.

[2016-11-16 16:15] jberube opened #173 ""Network" section has broken design under Chrome Canary 56"
Using Chrome Canary Version 56.0.2920.0 canary (64-bit), the Network section in the DevTools has some broken styles with this extension enabled, causing big gray squares in the columns names and in the "Waterfall" column.

http://imgur.com/a/DrhLt

[2016-11-21 20:00] mauricecruz commented on #173
Thanks for the report! I'll take a look.

[2016-12-04 09:37] acerjp0514 opened #174 "need to know"
need to know how to download a source code of git and i would like to know how to get a permission to get an API

[2016-12-21 08:01] Enclave88 commented on #166
Hello @mauricecruz! Something css troubles again. On the **Errors**, **Info** and **Debug** tabs:

![screenshot from 2016-12-21 13-54-49](https://cloud.githubusercontent.com/assets/5970902/21381426/775f579c-c785-11e6-8b37-c82f9e86c69b.png)
![screenshot from 2016-12-21 13-54-55](https://cloud.githubusercontent.com/assets/5970902/21381427/7762d084-c785-11e6-8a68-9a9e88fbdb0a.png)
![screenshot from 2

[2016-12-21 10:21] khaivngo opened #175 "Color rendering faulty? Breaks usage for colorblind users"
See image for example: http://puu.sh/sWrmL/3df276eb2d.png
This is worrying because for colorblind people this is invisible!

[2016-12-21 11:49] david-salvador commented on #175
I was going to add the same issue; for me it happens in objects in the console.

[2016-12-21 12:14] luckylooke opened #176 "unreadable console output for objects"
Today console started to add some background color to objects outputs. I cannot get rid of it.
http://prntscr.com/dm542o

[2016-12-21 12:33] mauricecruz commented on #176
Whoa - sorry about that. What version are you using and can you give me steps to replicate? Not seeing that on v55 stable

[2016-12-21 12:33] mauricecruz commented on #175
@khaivngo - getting 404 on screenshot. Can you re-upload?

[2016-12-21 12:34] khaivngo commented on #175
Github doesn't seem to link it properly, copy the link and paste it in the
address bar.

Khai

On Wed, Dec 21, 2016 at 1:33 PM, Maurice Cruz <notifications@github.com>
wrote:

[2016-12-21 13:00] mauricecruz commented on #175
I see. Thanks. Another user reported this issue but I'm having trouble replicating. Is there a specific setting toggled for colorblind users?

[2016-12-21 13:04] khaivngo commented on #175
No extra options or plugins have been added to the console. Just the
minimum requirements for your dark theme.
Occurred today.

On Wed, Dec 21, 2016 at 2:00 PM, Maurice Cruz <notifications@github.com>
wrote:

[2016-12-21 13:33] mauricecruz commented on #175
Gotcha.  What version of chrome are you on?

On Dec 21, 2016 8:04 AM, "Khai Van Ngo" <notifications@github.com> wrote:

[2016-12-21 13:46] khaivngo commented on #175
Version 55.0.2883.87 m

On Wed, Dec 21, 2016 at 2:33 PM, Maurice Cruz <notifications@github.com>
wrote:

[2016-12-21 13:48] phoxoey commented on #176
Yesterday was fine, today; I'm getting this:
![console_image](https://cloud.githubusercontent.com/assets/7294128/21391549/2f41362c-c75a-11e6-98cf-fb5d4c3c5de6.jpeg)

[2016-12-21 14:37] mauricecruz commented on #176
Fix on the way

[2016-12-21 14:48] phoxoey commented on #176
Awesome sauce.

[2016-12-21 16:21] mauricecruz commented on #176
pushed a fixed on v.2.2.3 - Please verify because I'm having trouble replicating the issue.

[2016-12-21 16:21] mauricecruz commented on #175
pushed a fixed on v.2.2.3 - Please verify because I'm having trouble replicating the issue.

[2016-12-21 16:21] mauricecruz commented on #166
pushed a fixed on v.2.2.3 - Please verify because I'm having trouble replicating the issue.

[2016-12-21 16:22] mauricecruz commented on #174
Hey - not sure what you need here. If you'd like to create your own theme, you can clone this repo https://github.com/mauricecruz/zero-base-themes

[2016-12-21 16:22] #174 closed

[2016-12-21 16:22] #169 closed

[2016-12-21 16:45] szuranski commented on #176
![image](https://cloud.githubusercontent.com/assets/4400466/21397699/6bde549c-c76a-11e6-8447-01ffefa8d0aa.png)
![image](https://cloud.githubusercontent.com/assets/4400466/21397738/85b4079a-c76a-11e6-8e5b-1be5b6d629ff.png)

v.2.2.3 fixes the issue for me.

[2016-12-21 16:53] szuranski commented on #176
![image](https://cloud.githubusercontent.com/assets/4400466/21398040/9165933c-c76b-11e6-8541-b66cf300ff03.png)

Not an usability issue but the last version looks like it affected the side panel color.

[2016-12-21 16:55] mauricecruz commented on #176
Ah - thanks. On it.

[2016-12-21 17:02] mauricecruz commented on #176
@szuranski pushed a fix on 2.2.4.

[2016-12-21 17:09] phoxoey commented on #176
2.2.3 / 2.2.4 push fixed it for me. Thanks!

[2016-12-21 17:10] #176 closed

[2016-12-21 17:14] szuranski commented on #176
Fixed. Thanks!!!

[2016-12-22 06:34] #166 closed

[2016-12-22 06:53] dashukin commented on #175
Hi @mauricecruz
Seems to be still valid for
Chrome: 55.0.2883.87 m (64-bit)
Theme: 2.2.4
![2016-12-22_0952](https://cloud.githubusercontent.com/assets/5929682/21417547/64059c04-c82c-11e6-8dd6-3d6ce2354564.png)

[2016-12-22 07:11] khaivngo commented on #175
Everything seems to be working now, thanks for the quick fix.

[2016-12-22 10:02] luckylooke commented on #176
Fixed for me too, @mauricecruz thank you for your patient maintenance ;)

[2016-12-22 10:46] david-salvador commented on #175
Confirmed it works! Thanks for the responsiveness.

[2016-12-22 14:23] #175 closed

[2016-12-22 20:38] bmwertman opened #177 "Post Chrome 55.0.2883.95 update works in Chrome inspect but not device inspector"
Following an update to Chrome 55.0.2883.95 today No themes are applied to the device inspector window.

I have tried uninstalling and reinstalling the extension and going through the setup procedure and relaunching Chrome but the issue persists. I am on the latest build of the extension (2.2.4).

[2016-12-22 21:16] mauricecruz commented on #177
Hmm I have it loading on the same version. In my experience, I've notice that when I update chrome sometimes, it turns off some extensions. You may have tried that so other things to check is if UI Themes experiments is checked off.

[2017-01-15 20:45] acerjp0514 commented on #173
Hey how do I protect my Chromebook board from not being dismantle by someone

[2017-01-18 15:53] mauricecruz commented on #177
Is this still an issue?

[2017-01-18 16:05] bmwertman commented on #177
Yes, sorry for the slow response. I've just been using it with the default theme. I checked and "Allow custom UI themes" is checked in the experiments. The extension is also enabled. I'm not sure what else to try.

[2017-01-19 17:32] sohexcore opened #178 "Network -> preview is not readable"
Is there any way I can make that text white/gray?
![01](https://cloud.githubusercontent.com/assets/560402/22117780/87f5236e-de75-11e6-8235-cf17694cfbb3.png)
![02](https://cloud.githubusercontent.com/assets/560402/22117779/87f4815c-de75-11e6-9e40-56573d8d1e8b.png)

[2017-01-19 17:46] mauricecruz commented on #178
Can you put this example up on a codepen or fiddle? I'll need to see if there's a selector I can hook on to for that type of response.

[2017-01-26 14:54] bmwertman commented on #177
Hey not sure what changed but my dark theme started working again. One build inspection it didn't work and less than 5 minutes later it did. No idea what changed. But I'll go ahead and close this.

[2017-01-26 14:54] #177 closed

[2017-01-26 15:13] mauricecruz commented on #177
@bmwertman thanks for the followup. If you ever figure it out - I'd be interested to know the root cause.

[2017-02-05 09:14] lehoangnam14 opened #179 "What error ?"
![ui theme error](https://cloud.githubusercontent.com/assets/7042462/22625049/13cdc972-ebbe-11e6-812f-787e634ca9c9.png)

Thanks !

[2017-02-05 16:22] mauricecruz commented on #179
Just released a fix on the webstore (v2.2.6). Please let me know if it works!

[2017-02-05 16:24] mauricecruz commented on #173
@jberube sorry for the late response! Turns out the water fall columns are using SVG which can't be overridden with CSS.

The best suggestion I can give you is to active the native dark theme. You can still use this theme over it and it will add a few more details.

[2017-02-05 17:21] jberube commented on #173
Thanks, the native dark does it.

On Sun, Feb 5, 2017, 11:24 Maurice Cruz <notifications@github.com> wrote:

--

Julien Bérubé
Web App Developer

[2017-02-06 02:03] lehoangnam14 commented on #179
I using version v2.2.6 :(
![image](https://cloud.githubusercontent.com/assets/7042462/22632366/1fa12b08-ec4b-11e6-9bd1-f146f880dc91.png)

[2017-02-06 02:35] mauricecruz commented on #179
What version of chrome are you on?

On Feb 5, 2017 9:03 PM, "nhOc Lùn" <notifications@github.com> wrote:

[2017-02-06 02:36] lehoangnam14 commented on #179
This is version of chrome:
![image](https://cloud.githubusercontent.com/assets/7042462/22632907/c2c216c2-ec4f-11e6-9dde-0be05805be3f.png)

[2017-02-07 09:07] HugoMatilla commented on #177
Hi, it is happening to me too.

Chrome version:  56.0.2924.87 (64-bit)
Zero Dark Matrix version: 2.2.7

It used to work until I updated to the chrome version that has a built in dark theme.
I forgot about it, but recently I am trying to make it work again.
I changed the dev tools to default theme, and set up  Zero Dark Matrix.
In chrome inspect works but not in the device inspector.
Is there any e

[2017-02-07 16:49] #179 closed

[2017-02-07 19:17] hutzlibu opened #180 "Call Stack is unreadable in Canary 58"
On chrome it works fine, but in latest canary, it is not nice ...

![bugcanary](https://cloud.githubusercontent.com/assets/7058891/22707167/2acec29c-ed72-11e6-859d-7ad6840b5823.png)

[2017-02-07 19:21] mauricecruz commented on #180
Thanks for filing the issue. Will look into it.

[2017-02-07 19:24] mauricecruz commented on #180
Setting the native theme to `dark` will fix the styles in the mean time. I'll patch it when I get a chance.

[2017-02-07 21:20] arantonius commented on #180
You mean the native theme of chrome?
Well, which one of the countless dark themes, of the store do you mean?
The ones I just tries brought no success so far ... but thanks for the fast reply!

[2017-02-07 21:22] hutzlibu commented on #180
You mean the native theme of chrome?
Well, which one of the countless themes from the web store you mean?
The ones I tried brought no success so far, but thanks for the fast reply!

[2017-02-07 22:07] mauricecruz commented on #180
![image](https://cloud.githubusercontent.com/assets/1640686/22713789/d423cef2-ed57-11e6-9e71-72fd2a5afa28.png)

[2017-02-07 22:13] hutzlibu commented on #180
Erm ... maybe a stupid question, but what is the "native dark theme"?
As far as I know, there are many different dark themes for chrome, but no "native" one from chrome itself.

[2017-02-07 22:14] hutzlibu commented on #180
Or other question: which theme do you use?

[2017-02-08 22:36] mauricecruz commented on #180
Chrome added a native dark theme a few versions ago. You can enable it in the devtools settings

http://take.ms/Yi9Lp

I still use this theme, but usually use it over the native dark theme because I can't fix some SVG styles.

[2017-02-09 14:01] mauricecruz commented on #180
I patched this in the latest update. Please confirm.

[2017-02-09 22:44] hutzlibu commented on #180
Now it's dark and readable ... but the mouseover handler for selecting stack elements, is gone ...

p.s. and good to know, that chrome dev tools have finally a native dark theme, but I still prefer your style :)

[2017-02-09 22:47] mauricecruz commented on #180
Ahh - I'll fix that. Thanks for the update!

[2017-02-10 19:29] d3n1c1d3 commented on #159
are you talking about these ui elements? (i marked them in the screenshot below)
![bildschirmfoto-2017-02-09-21 24 53-edited](https://cloud.githubusercontent.com/assets/3397868/22840732/f63e0146-efce-11e6-8af8-49823d44a008.png)

I just have the problem that I can not see these elements very well.

operating system : windows 10 pro
google chrome - version : 56.0.2924.87
chrome devtools zerodarkmatr

[2017-03-09 23:10] returnlytom commented on #178
First of all, keep up the great work Maurice - this is by far the one extension I couldn't live without :)

Just wanted to add to this thread that I noticed it in the *Request Payload* tab as well:

![image](https://cloud.githubusercontent.com/assets/22224829/23774812/75377656-04da-11e7-80f7-c80d4ddaf8ea.png)

[2017-03-13 06:07] hoangnamitc opened #182 "Error in chrome 57"
![image](https://cloud.githubusercontent.com/assets/7042462/23843371/f0ce7e52-07ed-11e7-9409-61fac2cbd718.png)

Please Update fix. Thanks author !

[2017-03-13 09:35] dare023 commented on #182
I can confirm issue.
Arch Linux / Plasma 5
Thank you in advance for fix.

[2017-03-13 14:53] mauricecruz commented on #182
What version of chrome?

- Maurice

On Mon, Mar 13, 2017 at 5:35 AM, dare023 <notifications@github.com> wrote:

[2017-03-13 14:54] mauricecruz commented on #182
looking into it. Thanks!

[2017-03-13 15:05] mauricecruz commented on #182
Fix should be in the webstore shortly.

[2017-03-13 15:06] #173 closed

[2017-03-13 15:07] mauricecruz commented on #178
@returnlytom Glad you enjoy it!

I'll look into fixing those colors. Thanks for reporting.

[2017-03-13 18:57] dare023 commented on #182
Thank you for quick fix!

[2017-03-13 19:12] #182 closed

[2017-03-15 15:29] mauricecruz commented on #178
@returnlytom just pushed out a fix - can you verify?

[2017-03-15 17:49] returnlytom commented on #178
![image](https://cloud.githubusercontent.com/assets/22224829/23962956/022b0c8a-096d-11e7-9602-14f5ce43e0db.png)

Looks great, thank you for the quick fix!

[2017-03-27 18:16] mrchief opened #183 "Info: DevTools now have a dark theme out of the box"
This has been a "can't live without" extension for years. But finally, Chrome DevTools now support dark theme out of the box: [developers.google.com/web/updates/2016/02/devtools-digest-devtools-go-dark](https://developers.google.com/web/updates/2016/02/devtools-digest-devtools-go-dark#a_dark_theme_for_devtools)

![image](https://cloud.githubusercontent.com/assets/781818/24370966/4e45d58a-12f7-11e7

[2017-03-27 18:23] mauricecruz commented on #183
Thank you for the compliments! The native dark theme definitely helps keep styles consistent without this theme.

Though if you still enjoy the other features of this theme, it stacks well with the native dark theme. So feel free to continue using it. I plan to continue to support it until they close the doors on custom theming.

[2017-03-27 18:23] #183 closed

[2017-04-08 15:42] #178 closed

[2017-04-08 15:43] mauricecruz commented on #172
Don't think this is an issue any more.

[2017-04-08 15:43] #172 closed

[2017-04-08 15:46] mauricecruz commented on #154
@mestrini @ragnaro89 - I'd like to support this but I'll need a little help in generating that response in devtools.

Please let me know if you can setup an example I can check.

[2017-04-08 15:46] mauricecruz commented on #150
Is this still an issue? Please let me know.

[2017-04-08 15:47] mauricecruz commented on #158
@g-akshay not sure if you're still using the theme. If so, please let me know if your issue still persists.

[2017-04-10 10:53] g-akshay commented on #158
I am not using any theme as of now as few versions back chrome shipped with its own black theme.
Closing the issue.

[2017-04-10 10:53] #158 closed

[2017-04-10 15:36] dhershman1 commented on #150
Doesn't look like it, went back to check and seems like the XML is syntax colored correctly.

[2017-04-10 16:03] #150 closed

[2017-05-16 11:42] wowdyaln opened #184 "double quotation in console is black"
can I adjust these by myself ?
<img width="477" alt="quote color is black_2" src="https://cloud.githubusercontent.com/assets/17491125/26104271/aa2c73d2-3a6f-11e7-9a40-54d0d13c7861.png">
<img width="473" alt="quote color is black" src="https://cloud.githubusercontent.com/assets/17491125/26104280/b4eb2a8e-3a6f-11e7-9171-ad22762b7f87.png">
thank you

[2017-05-16 19:43] Alex-302 opened #185 "Resize search bar in DOM inspector"
Hi
Is it possible to make it wide like in Chrome beta 59? I want it in older version(Chrome 46 - Slimjet browser)

<details>

![image](http://imagizer.imageshack.com/img922/4258/grRZSJ.png)
</details>
Chrome 59 beta
<details>

![image](http://imagizer.imageshack.com/img922/3092/oa22ha.png)
</details>

[2017-05-16 19:45] mauricecruz commented on #185
Thanks for the report. Good find. That should be doable.

- Maurice

On Tue, May 16, 2017 at 3:43 PM, Alex <notifications@github.com> wrote:

[2017-05-16 19:46] mauricecruz commented on #185
Hmm - not sure if I can make it wide for older versions since the markup might be different. But I'll see what I can do.

[2017-05-16 19:56] Alex-302 commented on #185
Tried to change color of `.toolbar-search-control`, but Crome says that extansion is broken:(

[2017-05-18 15:13] Alex-302 commented on #185
@mauricecruz Any news?)

[2017-05-20 17:08] swedkg opened #186 "Custom Fonts?"
Hi,

is there a way to set custom fonts?

[2017-05-30 21:01] Alex-302 commented on #185
@mauricecruz hi!
I am sure you can do it:) I found that elements:

![image](http://imagizer.imageshack.com/img923/8972/SnZENC.png)

It should not interfere with new version of Chrome.

[2017-05-30 21:35] Alex-302 commented on #185
chrome-devtools://devtools/bundled/inspector.html
`body /deep/ span[class="toolbar-search-control"]` `width: 100%;`
`body /deep/ table[class="toolbar-search"]` `width: 100%;`

[2017-05-31 07:27] wowdyaln commented on #184
to solving this issue as follow :

<img width="326" alt="screenshot at 5 31 15-18-34" src="https://cloud.githubusercontent.com/assets/17491125/26620298/d812cb92-4614-11e7-8923-4e984b9d1edb.png">

switch theme to "dark"
<img width="217" alt="screenshot at 5 31 15-25-38" src="https://cloud.githubusercontent.com/assets/17491125/26620444/736ea9a8-4615-11e7-9704-9ddfc4b7b6bb.png">

[2017-05-31 07:27] #184 closed

[2017-05-31 14:24] mauricecruz commented on #184
I patched it for the light theme. Should be out shortly.

[2017-05-31 14:25] mauricecruz commented on #186
Not through the webstore theme. But you can generate your own and load in any font you want through this repo https://github.com/mauricecruz/zero-base-themes.

This theme is built from that repo.

[2017-05-31 14:47] #186 closed

[2017-05-31 14:48] mauricecruz commented on #185
should be available in the webstore soon.

[2017-05-31 14:59] Alex-302 commented on #185
@mauricecruz Excellent! Works in Chrome 58 and in my good old Chrome 46:)

[2017-05-31 14:59] #185 closed

[2017-06-04 17:09] Alex-302 opened #187 "[Suggestion] Change unreadable colors for Adguard pane"
Current colors:

<details>

![image](https://cloud.githubusercontent.com/assets/8361299/26763701/b203dbc8-495f-11e7-8ec3-c10862f70afc.png)
</details>
Suggested colors:
<details>

![image](https://cloud.githubusercontent.com/assets/8361299/26763707/c64724fa-495f-11e7-8ce9-2cd27c5c9013.png)
</details>
Suggested style:
<details>

`body.platform-mac` is unique. It prevents posible(or impossible:) ) in

[2017-06-14 04:34] mauricecruz commented on #187
Thanks for the report - will see what I can do.

[2017-06-14 05:43] mauricecruz commented on #187
I'm not using any selectors that are OS specific. I think the adguard team has to fix this in their extension.

[2017-06-14 05:43] #187 closed

[2017-06-14 08:21] Alex-302 commented on #187
`.platform-mac` is used on any platform, even in Firefox on Android:)

I am agree. Also I made a fixed version)

[2017-06-19 14:04] sajjansarkar commented on #154
I get the same bevavior and would love to see it fixed as this is my only gripe with this awesome extension.. it doesnt work (renders in black font color) with a simple text response..

[2017-06-19 14:50] mauricecruz commented on #154
@sajjansarkar - Thanks for reporting. Would you be able to help by drafting up a dummy response that I can hit so I can see the generated response? I don't work much with soap responses and would rather not spend time scouring the internet for examples.

[2017-06-19 15:09] sajjansarkar commented on #154
@mauricecruz sure, the W3Schools example is a candidate.

https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_ajax_ajax

[2017-06-20 09:37] rifton007 commented on #154
Hi all and thank for your help.
I have same problem with in the preview of network tab.

I can edit the css file for the background-color, but i can't save this update.
`.request-view.html iframe {
    background-color: lightgreen !important;
}`
When i quit the devTools, the background return to black color.

Thank you,

[2017-06-24 02:45] peterhinners opened #188 "Ubuntu vs Mac difference?"
Love this theme, thank you! I noticed that in my virtual machine at work (ubuntu), zero dark matrix looks slightly different than on my mac at home -- not as good. Some of the tabs on top are white, for example, and when I write in the console the words are always white, along with the words in the suggestion box.

Is that normal behavior? Not the end of the world if that's the case, but I just lo

[2017-06-29 05:45] mauricecruz commented on #188
Hey Pete, You're welcome! Glad you enjoy the theme.

I'm guessing that your Ubuntu version may be using a different version of chrome then your Mac. Not sure if they release them in the same version cycle. In any case, I try to support the latest stable versions and to a lesser extent, canary builds.

What version of chrome are you running on Ubuntu?

[2017-06-29 12:55] peterhinners commented on #188
Hi Maurice, I think you are exactly right. Wish I could update chrome at
work but we're in  a VM with all these dependencies. Thanks for your help!
On Jun 29, 2017 12:45 AM, "Maurice Cruz" <notifications@github.com> wrote:

[2017-06-29 13:55] mauricecruz commented on #188
FWIW, there's a native dark theme setting that may 'patch' things up for older versions. It's in the Settings -> Preferences panel.

[2017-06-29 13:55] #188 closed

[2017-06-29 13:55] mauricecruz commented on #180
Sorry for the delay - should be fixed now!

[2017-06-29 13:57] mauricecruz commented on #154
@sajjansarkar - I took a look at example you provided. In that particular case, I don't think I can do anything because the markup is rendered inside an iframe.

@mestrini / @rifton007 - if you have examples where the markup is styled, but in the wrong colors, please let me know.

![image](https://user-images.githubusercontent.com/1640686/27691163-3a9a74b0-5cb1-11e7-844b-3d284c91c7ea.png)

[2017-06-29 14:39] sajjansarkar commented on #154
@mauricecruz I am not understanding what kind of example you're looking for? I thought you wanted an example of an AJAX response returning plain text.. And that was it.. not sure what it being in an iframe has to do with it.. If you can let me know what type of example you're looking for maybe I can find something public

[2017-06-29 17:54] mauricecruz commented on #154
@sajjansarkar thank you for providing another example.

To clarify, I wanted to determine if the preview pane had markup/classes I could use as hooks for styling. It looks like all content is loading inside an iframe. I can't modify any markup inside an iframe because the injected css only exists in the parent.

The current chrome api doesn't allow me to execute any javascript to inject any styles

[2017-06-29 18:11] sajjansarkar commented on #154
@mauricecruz ah ok.. got it.. how are you setting the bgcoolor of the preview pane to darkgrey though?
maybe if the response is plaintext , we could leave it white?

[2017-07-01 09:47] rifton007 commented on #154
@mauricecruz, here is a example:

![snap](https://user-images.githubusercontent.com/2601347/27760930-033cff6c-5e53-11e7-8471-3ab264115347.png)

Thank you,

[2017-08-03 02:18] #152 closed

[2017-08-03 02:28] narcolepticinsomniac opened #189 "Canary stops supporting shadow piercing combinators?"
Version 62.0.3169.0 (Official Build) (64-bit)

Unless I'm missing something, they appear to have finally pulled the plug on them completely. ZDM isn't working for me, besides some scrollbars. Question now being, are there any suitable replacements, or even any workable hacks?

I know they've integrated a built-in dark theme, but all the black on orange is ugly AF IMO. I'll be disappointed if I'm s

[2017-08-03 02:52] mauricecruz commented on #189
Yup they finally removed support for shadow piercing combinators. I [filed an issue](https://bugs.chromium.org/p/chromium/issues/detail?id=709732) awhile ago and it seemed like they intended to keep supporting custom UI themes in some way, but it's been pretty radio silent. Might want to star it to bump it up in queue.

The only hack I can think of right now is to open up the devtool's devtools an

[2017-08-03 03:26] narcolepticinsomniac commented on #189
Done. The initial response seemed pretty positive, so hopefully it wasn't BS.

I'm a fan of ZDM, but I've also sporadically side-loaded it with different personal stylesheets. Mostly I'm not crazy about the peach in the html. Anyway, I just recently wasted a bunch of time making a new one specifically to only affect the native dark theme and fix some of its fugliness. I went to check it in Canary,

[2017-08-03 03:30] mauricecruz commented on #189
Thanks!

All shadow piercing selectors are pretty much dead so they'll have to be altered in some fashion. Deleting any instance of `/deep/` or `::shadow` may do the trick.

[2017-08-03 03:35] narcolepticinsomniac commented on #189
Simple enough. Hopefully they don't screw the pooch on this one. Glad you brought the issue to their attention early. It has a lot better shot of getting resolved before landing in stable, thanks to you.

[2017-08-08 16:35] thefunkyjoint commented on #189
I can't manage it to work anymore. Any solutions ?

[2017-08-08 16:37] mauricecruz commented on #189
@thefunkyjoint - If you're on Chrome version > 60, the theme won't work anymore.  There's a bug filed to fix this. Star the issue to stay in the loop - https://bugs.chromium.org/p/chromium/issues/detail?id=709732

[2017-08-09 12:48] erotavlas opened #190 "This extension (v2.4.1) is incompatible with latest Chrome 60.0.3112.90 (Official Build) (64-bit)"
When this extension is enabled it breaks the developer console output window - issue is that you cannot switch between the different output levels (Verbose, Info, Warning, Errors) in the Console.  It always remains on verbose or info, even if you select to display only warnings or errors.

I had to turn the extension off in order for the console to work normally again.

[2017-08-09 15:15] mauricecruz commented on #190
@erotavlas thanks for the report. The filters are working but the UI is not showing the checkbox. I just pushed up a fix which should be available shortly.

[2017-08-09 15:16] mauricecruz commented on #180
@hutzlibu are we good on this?

[2017-08-09 20:08] vaindil opened #191 ""This extension may have been corrupted.""
I'm not sure if this is the extension or something on my end, but almost every time I've opened Dev Tools today the extension has stopped working. If I go into the Chrome extensions menu, I'm met with the screenshot below. I can repair it (re-installs the extension), then it usually works properly the next time I open Dev Tools, but after that the same thing repeats. No other extensions are having

[2017-08-09 20:32] mauricecruz commented on #191
Hmm, I just released an update today. May be a bad build. I'll repackage
it. Thanks.

On Aug 9, 2017 4:08 PM, "Steven Hall" <notifications@github.com> wrote:

[2017-08-10 00:22] Sluder commented on #191
Same issue. I installed through the Chrome store. Was this fixed?

[2017-08-10 01:19] mauricecruz commented on #191
Uploaded a new package but I was getting the same error. I updated the tool I use to package the extension. Not sure if that's going to fix it.

Not too sure what's going on yet. I haven't changed anything but css. Will dig into it some more.

[2017-08-10 05:01] szuranski commented on #191
Same issue
Chrome Version 60.0.3112.90 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/4400466/29155068-f0cb9f2a-7d5e-11e7-8f84-9a7d13016567.png)

[2017-08-10 05:06] mauricecruz commented on #191
Think it might have to do with an incremental update in v60. I had a
machine running v59 and it was fine. Gonna look for/file a bug report.

On Aug 10, 2017 1:01 AM, "Steve Zuranski" <notifications@github.com> wrote:

[2017-08-10 14:42] mauricecruz commented on #191
Opened this ticket - https://bugs.chromium.org/p/chromium/issues/detail?id=754282. Star it to stay informed.

Not getting the error on Canary so maybe it'll resolve itself in a future release if they don't find any glaring issues..

[2017-08-10 15:20] mauricecruz commented on #190
@erotavlas should be resolved now. Please confirm.

[2017-08-10 15:23] mauricecruz commented on #191
turns out it was a bug in the content verification check. It's been resolved in v61 but I fixed the extension for now.

[2017-08-11 02:44] hoangnamitc commented on #191
THANKS @mauricecruz !  your extendsion use normal.

[2017-08-11 18:40] ttbarnes commented on #191
Thank you @mauricecruz, all is working with chrome version 60.0.3112.90 ❤️

[2017-09-05 15:27] #191 closed

[2017-09-05 15:28] mauricecruz commented on #189
They're going to continue support for custom UI themes. Thanks to everyone that starred the issue!

[2017-09-05 15:28] #189 closed

[2017-09-07 02:54] hoangnamitc opened #192 "Error CSS in Chrome version 61"
Hi @mauricecruz ,

I update chrome version 61 then error as image:

![image](https://user-images.githubusercontent.com/7042462/30143926-681a8488-93b2-11e7-830a-9c58197cb504.png)

Thanks !

[2017-09-07 09:24] mauricecruz commented on #192
Thanks for the report. I'll take a look. In the meantime, can you enable the native dark theme and let me know if that fixes it?

[2017-09-07 09:27] hoangnamitc commented on #192
Dark theme default is working oke !

![image](https://user-images.githubusercontent.com/7042462/30156263-63c85f0e-93e9-11e7-96f5-925200385811.png)

[2017-09-07 10:25] mauricecruz commented on #192
just pushed out a fix. Should be up in the store in a short while.

[2017-09-08 16:06] mauricecruz commented on #192
Can you verify if this is fixed?

[2017-09-08 16:08] hoangnamitc commented on #192
Hi, Yes @mauricecruz  problem is fixed :) very thanks !

![image](https://user-images.githubusercontent.com/7042462/30220718-aa4803ec-94ea-11e7-9fe1-4a471784039a.png)

[2017-09-08 16:09] #192 closed

[2017-09-11 09:04] stereokai opened #193 "CSS Selectors changed from orange to grey all of a sudden"
![image](https://user-images.githubusercontent.com/2685357/30266781-19408a62-96e9-11e7-825d-379d1fa1aa14.png)

I do like how only the relevant rule to the inspected element is being highlighted (in light grey), but the orange was bolder and helped focusing.

[2017-09-11 11:45] mauricecruz commented on #193
Thanks for reporting! The latest version probably changed the selector
name. I'll have it fixed. Thanks!

On Sep 11, 2017 5:04 AM, "Stereokai" <notifications@github.com> wrote:

[2017-09-11 12:39] stereokai commented on #193
You are awesome! If you can keep the non-matching selectors in dark grey, and only highlight in orange the matching selector that would be spectacular and so helpful! Thanks you considering :)

[2017-09-11 14:24] mauricecruz commented on #193
@stereokai fix should be in the latest version. Can you confirm?

[2017-09-12 02:27] nodeworks opened #194 "Styles messed up all of a sudden"
Been using your extension for years. Love it! But just today I started noticing it's like this:

![Weird styles](https://i.snag.gy/lRaNX3.jpg)

Any ideas?

[2017-09-12 02:37] mauricecruz commented on #194
Thanks! What version are you on?

[2017-09-12 02:38] nodeworks commented on #194
2.5.1

[2017-09-12 02:50] mauricecruz commented on #194
Sorry, I meant chrome version?

[2017-09-12 02:51] nodeworks commented on #194
No worries:

Version 60.0.3112.113 (Official Build) (64-bit)

[2017-09-12 02:52] mauricecruz commented on #194
Gotcha - think stable is on `61` now. Try updating.

[2017-09-12 02:53] nodeworks commented on #194
That fixed it!! You're the best! thanks again!

[2017-09-12 02:54] #194 closed

[2017-09-12 09:54] ttbarnes opened #195 "Unreadable colours"
Hello, I know this is temporarily only supporting the stable channel right now and this needs a rewrite, so i'm sure @mauricecruz is more than aware of this issue:

![screen shot 2017-09-12 at 10 48 48](https://user-images.githubusercontent.com/2463648/30319702-73ffdc90-97a8-11e7-906c-3560a78f791e.png)

I would like to contribute to the rewrite, if I can. ? This theme is fantastic, it's invaluable

[2017-09-12 10:17] stephen-crowdreactive commented on #195
I'm getting this too

[2017-09-12 11:30] stereokai commented on #193
It's excellent, thank you!

[2017-09-12 11:30] #193 closed

[2017-09-12 11:48] mauricecruz commented on #195
Chrome Stable is on m61 now. Please try updating your browser.

[2017-09-12 11:54] ttbarnes commented on #195
Working beautifully after updating chrome; I wonder why it didn't auto-update 🙃

Let me know if you want help with the rewrite @mauricecruz

[2017-09-12 11:54] #195 closed

[2017-09-13 17:54] Zuwie opened #196 "Weird colours suddently"
Hello!
Great work but lately it is using very dark colors, not those I am used to.
Any suggestions how I can fix this?
<img width="1440" alt="screen shot 2017-09-13 at 19 51 56" src="https://user-images.githubusercontent.com/25747851/30392501-5399db02-98bd-11e7-84e9-519cc76f9fca.png">

[2017-09-13 17:55] mauricecruz commented on #196
Think you're on an old chrome version. Please update.

On Sep 13, 2017 1:54 PM, "RS_Webdev" <notifications@github.com> wrote:

[2017-09-14 01:07] Zuwie commented on #196
This was indeed the issue; thanks for the quick support.

[2017-09-14 14:51] Frozenlock commented on #196
Same problem here.
Everything was fine until 1-3 days ago.
Version 60.0.3112.113 (Developer Build) Built on Ubuntu , running on Ubuntu 16.04 (64-bit)

[2017-09-14 14:58] mauricecruz commented on #196
Is m61 available for Ubuntu?

[2017-09-14 14:58] mauricecruz commented on #196
@Frozenlock, Is m61 available for Ubuntu?

[2017-09-14 15:09] Frozenlock commented on #196
Updating now.

FWIW I also have `Chrome Version 60.0.3112.90 (Official Build) (64-bit)` and it didn't warn me of a new version (yet). Same issue.

[2017-09-14 15:12] Frozenlock commented on #196
Everything looks nice on version 61. :+1:

[2017-09-18 17:51] #196 closed

[2017-09-18 17:51] #190 closed

[2017-09-23 15:21] tommyyork opened #197 "theme not applied to sources in 60.0.3112.113"
It doesn't like the theme is being applied to the sources tab in 60.0.3112.113.

[2017-10-19 01:24] mauricecruz commented on #197
Hey so sorry I just saw this now. Are you still having issues? Stable is on m62 now. A few styles need to be updated.

[2017-10-19 01:25] #180 closed

[2017-10-19 12:10] abourtnik opened #198 "problem with style since the october 2017 update"
Hello since the update I have problem with style in my inspector.

![capture du 2017-10-19 14-09-12](https://user-images.githubusercontent.com/23094492/31770245-2c24a7ce-b4d7-11e7-9d03-b5b195b54629.png)

Thank you for your answer and have a good day ;)

[2017-10-19 12:51] mauricecruz commented on #198
Please update your browser version.

[2017-10-19 20:52] brianbautista commented on #198
Updating to Chrome 62.0.3202.62 has resolved this issue for me as well

[2017-10-21 15:27] tommyyork commented on #197
No issues anymore since I updated chrome!

[2017-10-21 15:27] #197 closed

[2017-10-21 22:59] fjandakornid commented on #198
Had the same issue in version 61.0.3163.100.
Fixed it by changing DevTools settings -> Preferences -> Theme: Dark

[2017-10-24 22:34] hutzlibu commented on #180
Sorry, was away.
And I did not really used your extension anymore, since the standard chrome dark style worked. Even though your styles still look nicer. (but I switched chrome-profiles a lot, for debugging and it was annoying to activate everytime again)

Anyway, I reinstalled your plugin - on my new chromebook. And the first thing that happened was a complete crash after setting the flag.
But af

[2017-10-24 23:39] mauricecruz commented on #180
I'm currently rewriting all the styles. The way custom themes are implemented had to change due to a deprecation of css combinators. So not everything is correctly styled yet.

Setting the dark theme as a fallback is a good idea.

[2017-11-06 21:38] narcolepticinsomniac commented on #189
Hey @mauricecruz

I just updated to v62. I'm a bit confused, and figure you've been fixing your CSS already, so you may have some insight. I saw your announcement that combinators cause performance issues with the new injection method, which I noticed right off the bat.

My interpretation was that combinators weren't gonna work at all anymore, and that the new injection method would pierce all the

[2017-11-06 22:34] narcolepticinsomniac commented on #189
Seems there is no magic number. Performance just gets incrementally worse the more combinators you use. I got everything working again by getting rid of the first instance of `.-theme-with-dark-background /deep/ ` used in all selectors, but leaving the others, like:

`.-theme-with-dark-background /deep/ .panel.security /deep/ .tree-outline li.selected .selection`

is now:

`.panel.security /deep/

[2017-11-06 22:39] mauricecruz commented on #189
On vacation right now so won't get to a lengthy response for about another week. Essentially, you need to remove all /deep/ and ::shadow selectors because they're no longer effective.

Custom css gets injected into every shadow dom root. There's alot of them, so keeping the selector chain short is crucial.

Leverage the :host and :host-context combinators to apply style to specific shadow roots.

[2017-11-06 22:47] narcolepticinsomniac commented on #189
Appreciate you pointing me in the right direction. I'll see what luck I have with those combinators sometime soon, and post the results here. If I'm still begging for help, hopefully you'll take pity when you get back.

Thanks, and enjoy your vacation!

[2017-11-06 23:00] mauricecruz commented on #189
Thanks! Check my zero base themes repo for implementation examples.

[2017-11-07 02:38] narcolepticinsomniac commented on #189
Got it all working for the most part. For the sake of anyone in the future searching for syntax help, using the example I posted above, you can combine combinators like this:

`:host-context(.-theme-with-dark-background):host-context(.security) .tree-outline li.selected .selection`

Still one element that won't cooperate, no matter what I try. I'm convinced it's a bug, but maybe you can prove othe

[2017-11-19 02:35] narcolepticinsomniac commented on #189
You back around? Wonder if you can shed any light on why those particular checkboxes (above pic) refuse to cooperate. I never figured it out.

If it helps for easier testing, it works with the built-in dark theme enabled:

[DevTools Dark Theme Fixed.zip](https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme/files/1485239/DevTools.Dark.Theme.Fixed.zip)

[2017-11-24 19:06] mauricecruz commented on #189
@narcolepticinsomniac - hey sorry for the delay. Got swept up with work and holidays.

Hmm so I'm beginning to notice that the theme styles don't get injected into all the shadow roots. Dynamic ones in particular. Which I think includes the element state dropdowns.

In those shadow dom nodes, I don't see the custom theme styles in there.

[2017-12-10 16:17] jimiatworking opened #199 "Change Sources left panel Network files to white"
I have the background color dark and also files name as dark. How do I change the files name as white color. see pic as below. Only when I mouse over the file or I click on it could change to white.
Any idea?

![image](https://user-images.githubusercontent.com/22278237/33806816-6ccf81f4-de08-11e7-9434-c95d9b1b04a0.png)

[2017-12-12 08:14] anandisrocking007 opened #200 "Need Help Packing Theme"
Hello Sir I recently made a theme based upon yours and Monokai theme and all is working well unpacked but when i pack the file into chrome extension after first try the extension gets disabled and an error occors telling the extension is corrupted i hope you can help me i have linked the packed and unpacked extension below.

Unpacked-
https://drive.google.com/file/d/1EvvMTnP9Df3W6j6NVrNCaa6TXlEjPo

[2017-12-13 05:19] mauricecruz commented on #200
I came across a similar issue awhile ago. Oddly enough it was caused by a weird bug with content verification and having a file size divisible by 4096. More info here - https://bugs.chromium.org/p/chromium/issues/detail?id=720597#c51

I fixed my issue by literally adding a line of whitespace to a file. Hope that helps!

[2017-12-14 06:15] mauricecruz commented on #199
Thanks for the report. What version are you on? Can you try enabling the native dark theme and let me know if it's still an issue?

[2017-12-16 19:22] anandisrocking007 commented on #200
sir i have tried that and it  does not work can you please look into it or pack it for me

[2017-12-19 00:03] narcolepticinsomniac commented on #189
@mauricecruz I missed your response here. There's definitely some flaws. Have you reported an issue yet? Seems like Paul Irish would likely be willing to fix it if he was made aware.

[2018-02-19 19:42] narcolepticinsomniac commented on #189
This is getting worse, no? In v64, The dock/undock/side-dock buttons in the dropdown seem to be unstylable.

[2018-02-21 11:46] ovidiu-munteanu opened #201 "Change text colour on image preview pop-up"
Currently, the text on the image preview pop-up is barely readable:

![untitled](https://user-images.githubusercontent.com/23613300/36478456-b6861e34-16fc-11e8-984e-852ef404846e.png)

Could this be changed to white or some other colour?

[2018-06-11 13:12] marciosena opened #202 "Selector color of very dark selectors"
## Problem

When you select the value of an HTML attribute (Ex: class) the theme colors make it very difficult to see the content. A light color (#fff) would be the solution.

![captura de tela 2018-06-11 as 10 08 11](https://user-images.githubusercontent.com/3450717/41234864-cbb94d0e-6d63-11e8-9aac-a59731e921b4.png)

## Configuration
- MacOS (10.13.4)
- Chrome (66.0.3359.181 64 bits)
- DevTools T

[2018-06-11 13:41] #202 closed

[2018-06-11 14:02] mauricecruz commented on #201
Thanks for the note. I'll take a look. FYI, if you enable the native dark theme, this might cover some fonts colors that I may have missed.

[2018-06-11 14:03] #198 closed

[2018-06-11 15:29] mauricecruz commented on #202
Thanks for the report. Just updated the instructions to notify users to enable the dark theme.

[2018-06-25 12:41] DanielRuf opened #203 "How was it created?"
I do not see any sourcefiles and there is no Gruntfile (see package.json).

[2018-07-31 06:58] LoganDark commented on #203
https://github.com/mauricecruz/chrome-devtools-zerodarkmatrix-theme

[2018-07-31 07:43] #203 closed

[2018-07-31 07:44] DanielRuf commented on #203
Thanks.

[2018-09-22 08:22] Pourghannad opened #204 "problem in responsive page"
![image](https://user-images.githubusercontent.com/18215684/45915198-f5361b80-be5d-11e8-8f59-ae0c0d1ab6d1.png)

[2018-10-04 18:52] mauricecruz commented on #204
Thanks for the report. I'll take a look. Also, please enable the native dark theme as well, if you haven't already. It helps style a few things that my theme has trouble affecting.

[2018-12-05 22:17] IAMtheIAM opened #205 "Is this the new devtools default Dark theme? It's almost the same"
Hi, just wondering if this ended up becoming the basis for the default Dark theme in chrome Devtools? I ask because its almost identical, only difference being some of the Styles panel colors are different, but the rest of the colors on elements and sources match nearly perfect. The ZeroDev has higher contrast colors than the Default Dark, but still the same color theme. If so, very cool!

[2018-12-17 18:53] #205 closed

[2019-05-07 09:41] jgerstle opened #207 "color in styles tab of elements when typing unreadable"
When adding manual styling in the styles tab on the right side of the elements tab, the text you are typing is not legible, my guess is that the color and background color are the same.
![image](https://user-images.githubusercontent.com/13005080/57290127-74165680-70c5-11e9-896f-14a505d7d53e.png)

I have been having this issue for the last couple (possibly more) months. I figured maybe it'd get fix

[2019-05-07 11:12] mauricecruz commented on #207
Can you enable the native dark theme. It'll act as a fallback to styles
that don't render well/can't be styled.

I'll take a look. Thanks!

On Tue, May 7, 2019, 5:41 AM Jeremy Gerstle <notifications@github.com>
wrote:

[2019-05-07 16:09] jgerstle commented on #207
Alright enabling the dark theme works as a workaround, thanks.

[2019-08-13 14:51] taniarascia opened #208 "Latest version of Chrome breaks custom themes"
I made a custom theme based on this one, and it seems like in version `76.0.3809.100`, these themes stopped working. Is anyone else experiencing this?

[2019-08-13 14:54] mauricecruz commented on #208
Can you check if custom UI themes is checked off in the `Experiements` Tab. I had to turn it back on after updating.

![image](https://user-images.githubusercontent.com/1640686/62951814-a3212000-bdb8-11e9-915a-58765087c8dc.png)

[2019-08-13 16:02] taniarascia commented on #208
Well, don't I feel silly for not checking! Weird that this update would mess with the settings. Thanks!

[2019-08-13 16:02] #208 closed, assigned to nobody

[2021-07-07 01:51] #207 closed, assigned to nobody